/*------------------------------------------------------------------------------

 1. BASICS

 -----------------------------------------------------------------------------*/

html {
	height: 100%;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	/* Prevent iOS text size adjust on orientation change without disabling user zoom */
	-ms-text-size-adjust: 100%;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: .02em;
	font-size: 15px;
	line-height: 26px;
	color: #696969;
	text-align: left;
	position: relative;
	background: #fff;
	min-height: 100%;
}

 ::selection {
	background: #1a1a1a;
	color: #fff;
}

/* Links
 ---------------------------------------------------------------------------- */

a {
	text-decoration: none;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
	color: #33bfd0;
	&:hover {
		color: #1a1a1a;
	}
}

.text-light a:hover {
	color: #fff;
}


/* Embedded content
 ---------------------------------------------------------------------------- */

img,
object,
video,
audio {
	max-width: 100%;
	height: auto;
	display: inline-block;
	margin: 0;
	vertical-align: top;
}

img {
	width: auto;
	max-width: 100%;
	border: 0;
	-ms-interpolation-mode: bicubic;
	p & {
		margin-top: 20px;
		&:first-child {
			margin-top: 0;
		}
	}
	&.alignleft {
		margin: 3px 20px 20px 0;
		float: left;
	}
	&.alignright {
		margin: 3px 0 20px 20px;
		float: right;
	}
}

p+video,
p+audio {
	margin-top: 20px;
}