/*------------------------------------------------------------------------------

 12. BLOG

 ---------------------------------------------------------------------------- */

.blog-item {
	.blog-desc {
		margin-top: 15px;
		margin-bottom: 15px;
		.owl-carousel & {
			margin-bottom: 0;
		}
		.post-category:not(.subtitle-1):not(.subtitle-2) {
			color: #33bfd0;
			opacity: 1;
		}
	}
	.post-category:not(.subtitle-1):not(.subtitle-2) {
		font-size: 12px;
		opacity: 0.6;
	}
	.post-category+.post-name {
		margin-top: 5px;
	}
	p {
		font-size: 14px;
		line-height: 23px;
	}
}



.align-center .blog-desc,
.blog-desc.align-center {
	padding: 0 15px;
}


/* Classic Blog layout
 ----------------------------*/

.classic-blog {
	.blog-item {
		margin-top: 100px;
		margin-bottom: 0;
		&:first-child {
			margin-top: 0;
		}
		.blog-desc {
			margin-bottom: 0;
		}
	}
}


/* Blog Meta
 ----------------------------*/

.blog-meta {
	padding: 0;
	margin: 10px 0 0;
	list-style: none;
	li {
		display: inline-block;
		margin: 0 12px;
		font-size: 12px;
		line-height: 18px;
		font-family: Montserrat;
		font-weight: 400;
		letter-spacing: 0;
		color: #1a1a1a;
		position: relative;
		opacity: 0.6;
		&:first-child {
			margin-left: 0;
			&:before {
				display: none;
			}
		}
		&:last-child {
			margin-right: 0;
		}
		.text-light & {
			color: #fff;
		}
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			margin-top: -2.5px;
			left: -16px;
			width: 5px;
			height: 5px;
			border-radius: 5px;
			background: #000;
			opacity: 0.33;
			.text-light & {
				background: #fff;
			}
		}
		&.post-author {
			opacity: 1;
			a {
				color: #1a1a1a;
				.text-light & {
					color: #fff;
				}
			}
			img {
				width: 18px;
				height: 18px;
				border-radius: 20px;
				overflow: hidden;
				display: inline-block;
				margin-right: 7px;
			}
			span {
				display: inline-block;
				line-height: 18px;
				margin: 0;
				opacity: 0.6;
			}
			&:before {
				opacity: 0.2;
			}
		}
	}
}

.isotope-item.blog-item .blog-meta li {
	font-size: 10px;
	line-height: 14px;
}


/* Blog Single
 ----------------------------*/

#blog-single .blog-media {
	margin-bottom: 60px;
}


/* Blog Author Box
 ----------------------------*/

.author-box {
	background: #f5f6f7;
	margin-top: 60px;
	padding: 30px;
	border-radius: 3px;
	overflow: hidden;
	.author-image {
		float: left;
		width: 100px;
		border-radius: 50px;
		overflow: hidden;
	}
	.author-details {
		float: right;
		width: calc(100% - 130px);
	}
}