/*------------------------------------------------------------------------------

 17. COLUMNS SECTION

 ---------------------------------------------------------------------------- */

.column-section {
	margin-top: 40px;
}

div .column-section:first-child {
	margin-top: 0;
}

.column {
	float: left;
	margin-right: 40px;
	min-height: 1px;
}

.column-section .column:first-child {
	margin-left: 40px;
}

.wrapper .column-section .column:first-child,
.wrapper-small .column-section .column:first-child {
	margin-left: 0;
}

.boxed-sticky,
.bordered-sticky {
	margin-top: 0;
}

.boxed-spaced .column,
.boxed-sticky .column,
.bordered-spaced .column,
.bordered-sticky .column {
	background: #f5f6f7;
	padding: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.text-light .boxed-spaced .column,
.text-light .boxed-sticky .column {
	background: #0f0f0f;
}

.bordered-spaced .column,
.bordered-sticky .column {
	border: 1px solid rgba(0, 0, 0, 0.15);
	background: none;
}

.text-light .bordered-spaced .column,
.text-light .bordered-sticky .column {
	border-color: rgba(255, 255, 255, 0.22);
}

.bordered-sticky .column {
	border-right: none;
}

.bordered-sticky .column:first-child {
	border-left: none;
}

.wrapper .bordered-sticky .column:first-child {
	border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.wrapper .bordered-sticky .column:first-child,
.wrapper-small .bordered-sticky .column:first-child {
	border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.wrapper .text-light .bordered-sticky .column:first-child,
.text-light .wrapper .bordered-sticky .column:first-child,
.wrapper-small .text-light .bordered-sticky .column:first-child,
.text-light .wrapper-small .bordered-sticky .column:first-child {
	border-left: 1px solid rgba(255, 255, 255, 0.22);
}

.wrapper .bordered-sticky .column.last-col,
.wrapper-small .bordered-sticky .column.last-col {
	border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.wrapper .text-light .bordered-sticky .column.last-col,
.text-light .wrapper .bordered-sticky .column.last-col,
.wrapper-small .text-light .bordered-sticky .column.last-col,
.text-light .wrapper-small .bordered-sticky .column.last-col {
	border-right: 1px solid rgba(255, 255, 255, 0.22);
}

.bordered-sticky+.bordered-sticky .column {
	border-top: none;
}

.column-section.rounded .column {
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.column-section.boxed-sticky.rounded .column:not(.accent-table),
.column-section.bordered-sticky.rounded .column:not(.accent-table) {
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.column-section.boxed-sticky.rounded .column:first-child,
.column-section.bordered-sticky.rounded .column:first-child {
	-moz-border-radius: 8px 0 0 8px;
	-khtml-border-radius: 8px 0 0 8px;
	-webkit-border-radius: 8px 0 0 8px;
	border-radius: 8px 0 0 8px;
}

.column-section.boxed-sticky.rounded .column.last-col,
.column-section.bordered-sticky.rounded .column.last-col {
	-moz-border-radius: 0 8px 8px 0;
	-khtml-border-radius: 0 8px 8px 0;
	-webkit-border-radius: 0 8px 8px 0;
	border-radius: 0 8px 8px 0;
}

h1+.column-section.bordered-sticky,
h2+.column-section.bordered-sticky,
h3+.column-section.bordered-sticky,
h4+.column-section.bordered-sticky,
h5+.column-section.bordered-sticky,
h6+.column-section.bordered-sticky,
h1+.column-section.boxed-sticky,
h2+.column-section.boxed-sticky,
h3+.column-section.boxed-sticky,
h4+.column-section.boxed-sticky,
h5+.column-section.boxed-sticky,
h6+.column-section.boxed-sticky,
.separator+.column-section.bordered-sticky,
.separator+.column-section.boxed-sticky {
	margin-top: 40px;
}

.column.nopadding {
	padding: 0!important;
}

.column.notoppadding {
	padding-top: 0!important;
}

.column.nobottompadding {
	padding-bottom: 0!important;
}

.column.bigpadding {
	padding: 5em;
}

.one-full {
	width: calc(100% - 80px);
	float: none;
	margin-right: 0;
}

.one-half {
	width: calc(50% - 60px);
}

.one-third {
	width: calc(33.33% - 53.33px);
}

.two-third {
	width: calc(66.66% - 66.66px);
}


/* ((40*4)/3) + (40/3) */

.one-fourth {
	width: calc(25% - 50px);
}

.two-fourth {
	width: calc(50% - 60px);
}

.three-fourth {
	width: calc(75% - 70px);
}

.one-fifth {
	width: calc(20% - 48px);
}

.two-fifth {
	width: calc(40% - 56px);
}

.three-fifth {
	width: calc(60% - 64px);
}

.four-fifth {
	width: calc(80% - 72px);
}

.one-sixth {
	width: calc(16.66% - 46.66px);
}

.two-sixth {
	width: calc(33.33% - 53.33px);
}

.three-sixth {
	width: calc(50% - 60px);
}

.four-sixth {
	width: calc(66.66% - 66.66px);
}

.five-sixth {
	width: calc(83.33% - 73.33px);
}

.wrapper .one-full,
.wrapper-small .one-full {
	width: 100%;
	float: none;
	margin-right: 0;
}

.wrapper .one-half,
.wrapper-small .one-half {
	width: calc(50% - 20px);
}

.wrapper .one-third,
.wrapper-small .one-third {
	width: calc(33.33% - 26.66px);
}

.wrapper .two-third,
.wrapper-small .two-third {
	width: calc(66.6% - 13.33px);
}


/* ((40*3)/2) - (40/3) */

.wrapper .one-fourth,
.wrapper-small .one-fourth {
	width: calc(25% - 30px);
}

.wrapper .two-fourth,
.wrapper-small .two-fourth {
	width: calc(50% - 20px);
}

.wrapper .three-fourth,
.wrapper-small .three-fourth {
	width: calc(75% - 10px);
}

.wrapper .one-fifth,
.wrapper-small .one-fifth {
	width: calc(20% - 32px);
}

.wrapper .two-fifth,
.wrapper-small .two-fifth {
	width: calc(40% - 24px);
}

.wrapper .three-fifth,
.wrapper-small .three-fifth {
	width: calc(60% - 16px);
}

.wrapper .four-fifth,
.wrapper-small .four-fifth {
	width: calc(80% - 8px);
}

.wrapper .one-sixth,
.wrapper-small .one-fifth {
	width: calc(16.66% - 33.33px);
}

.wrapper .two-sixth,
.wrapper-small .two-fifth {
	width: calc(33.33% - 26.66px);
}

.wrapper .three-sixth,
.wrapper-small .three-fifth {
	width: calc(50% - 20px);
}

.wrapper .four-sixth,
.wrapper-small .four-fifth {
	width: calc(66.66% - 13.33px);
}

.wrapper .five-sixth,
.wrapper-small .five-fifth {
	width: calc(83.33% - 6.66px);
}

.boxed-sticky .column,
.bordered-sticky .column,
.boxed-sticky .column:first-child,
.bordered-sticky .column:first-child {
	margin-left: 0;
	margin-right: 0;
}

.boxed-sticky .one-full,
.bordered-sticky .one-full {
	width: 100%;
	float: none;
	margin-right: 0;
}

.boxed-sticky .one-half,
.bordered-sticky .one-half {
	width: 50%;
}

.boxed-sticky .one-third,
.bordered-sticky .one-third {
	width: 33.33%;
}

.boxed-sticky .two-third,
.bordered-sticky .two-third {
	width: 66.6%;
}

.boxed-sticky .one-fourth,
.bordered-sticky .one-fourth {
	width: 25%;
}

.boxed-sticky .two-fourth,
.bordered-sticky .two-fourth {
	width: 50%;
}

.boxed-sticky .three-fourth,
.bordered-sticky .three-fourth {
	width: 75%;
}

.boxed-sticky .one-fifth,
.bordered-sticky .one-fifth {
	width: 20%;
}

.boxed-sticky .two-fifth,
.bordered-sticky .two-fifth {
	width: 40%;
}

.boxed-sticky .three-fifth,
.bordered-sticky .three-fifth {
	width: 60%;
}

.boxed-sticky .four-fifth,
.bordered-sticky .four-fifth {
	width: 80%;
}

.last-col {
	margin-right: 0!important;
}

.col-content:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	font-size: 0;
	height: 0;
}

.col-content {
	display: inline-block;
	height: 1%;
	overflow: hidden;
}