/*------------------------------------------------------------------------------

 21. ELEMENTS

 ---------------------------------------------------------------------------- */


/*	spacer
 ---------------------------------------------------------------------------- */

div[class*='spacer-'] {
	display: block;
}

.spacer-mini {
	height: 20px;
}

.spacer-small {
	height: 40px;
}

.spacer-medium {
	height: 60px;
}

.spacer-big {
	height: 100px;
}

div[class*='spacer-']+p,
div[class*='spacer-']+div,
div[class*='spacer-']+blockquote,
div[class*='spacer-']+ul,
div[class*='spacer-']+h1,
div[class*='spacer-']+h2,
div[class*='spacer-']+h3,
div[class*='spacer-']+h4,
div[class*='spacer-']+h5,
div[class*='spacer-']+h6 {
	margin-top: 0!important;
}


/*	detail row
 ---------------------------------------------------------------------------- */

p.meta-row {
	font-size: 14px;
}

p.meta-row+p.meta-row {
	margin-top: 0;
}

p.meta-row .meta-label {
	font-family: Montserrat;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: .04em;
	text-transform: uppercase;
	display: inline-block;
	width: 130px;
	color: #1a1a1a;
}


/*	has animation
 -------------------------------------------------*/

.has-animation {
	transform: translateY(10%);
	transition: transform .8s ease .2s opacity .8s ease .2s;
	opacity: 0;
}

.has-animation.from-top {
	transform: translateY(-70px);
}

.has-animation.from-left {
	transform: translateY(0px) translateX(-70px);
}

.has-animation.from-right {
	transform: translateY(0px) translateX(70px);
}

.has-animation.fade {
	transform: translateY(0px) translateX(0px);
}

.has-animation.animated {
	transform: translateY(0px) translateX(0px);
	opacity: 1;
}


/* Buttons */

.sr-button {
	font-family: Lato;
	font-weight: 700;
	font-size: 12px;
	line-height: 22px;
	letter-spacing: .1em;
	text-transform: uppercase;
	text-align: center;
	background: #1a1a1a;
	color: #fff;
	display: inline-block;
	padding: 15px 40px;
	transition: all .2s ease;
	max-width: 100%;
	margin: 2px 0 3px;
}

.text-light .sr-button {
	background: #fff;
	color: #1a1a1a;
}

.align-center .sr-button {
	margin-left: 5px;
	margin-right: 5px;
}

.sr-button:hover {
	background: #33bfd0;
	color: #fff;
}

.text-light .sr-button:hover {
	background: #33bfd0;
	color: #fff;
}

.sr-button.button-tiny {
	font-size: 9px;
	line-height: 16px;
	padding: 7px 14px;
}

.sr-button.button-mini {
	font-size: 10px;
	line-height: 18px;
	padding: 9px 20px;
}

.sr-button.button-small {
	font-size: 11px;
	line-height: 20px;
	padding: 12px 30px;
}

.sr-button.button-medium {
	font-size: 12px;
	line-height: 22px;
	padding: 15px 40px;
}

.sr-button.button-big {
	font-size: 14px;
	line-height: 24px;
	padding: 20px 50px;
}

.sr-button.button-full {
	font-size: 18px;
	line-height: 32px;
	width: 100%;
	padding: 40px 0;
	font-weight: 400;
	margin: 0;
}

.sr-button.button-full strong {
	font-size: 22px;
	font-weight: 700;
}

.sr-button.button-1 {
	background: #1a1a1a;
	color: #fff;
}

.sr-button.button-1:hover {
	background: #33bfd0;
	color: #fff;
}

.text-light .sr-button.button-1 {
	background: #fff;
	color: #1a1a1a;
}

.text-light .sr-button.button-1:hover {
	background: #33bfd0;
	color: #fff;
}

.sr-button.button-2 {
	background: #33bfd0;
	color: #fff;
}

.sr-button.button-2:hover {
	background: #1a1a1a;
	color: #fff;
}

.text-light .sr-button.button-2:hover {
	background: #fff;
	color: #1a1a1a;
}

.sr-button.button-3 {
	background: #f0f0f0;
	color: #1a1a1a;
}

.sr-button.button-3:hover {
	background: #1a1a1a;
	color: #fff;
}

.text-light .sr-button.button-3 {
	background: #3d3d3d;
	color: #fff;
}

.text-light .sr-button.button-3:hover {
	background: #fff;
	color: #1a1a1a;
}

.sr-button.button-4 {
	background: transparent;
	border: 2px solid rgba(0, 0, 0, .2);
	color: #1a1a1a;
}

.sr-button.button-4:hover {
	background: #1a1a1a;
	border-color: #1a1a1a;
	color: #fff;
}

.text-light .sr-button.button-4 {
	border: 2px solid rgba(255, 255, 255, .2);
	color: #fff;
}

.text-light .sr-button.button-4:hover {
	background: #fff;
	border-color: #fff;
	color: #1a1a1a;
}

.sr-button.button-5 {
	background: transparent;
	border: 2px solid rgba(0, 0, 0, .2);
	color: #1a1a1a;
}

.sr-button.button-5:hover {
	background: #33bfd0;
	border-color: #33bfd0;
	color: #fff;
}

.text-light .sr-button.button-5 {
	border: 2px solid rgba(255, 255, 255, .2);
	color: #fff;
}

.text-light .sr-button.button-5:hover {
	background: #33bfd0;
	border-color: #33bfd0;
	color: #fff;
}

.sr-button.button-6 {
	background: transparent;
	border: 2px solid rgba(0, 0, 0, .2);
	color: #1a1a1a;
}

.sr-button.button-6:hover {
	border-color: #33bfd0;
	background: transparent;
}

.text-light .sr-button.button-6 {
	border: 2px solid rgba(255, 255, 255, .2);
	color: #fff;
}

.text-light .sr-button.button-6:hover {
	border-color: #33bfd0;
	background: transparent;
}

.sr-button.rounded {
	border-radius: 4px;
}

.sr-button.circled {
	border-radius: 50px;
}


/* Icon-Text Button */

.button-icon-text {
	position: relative;
}

.button-icon-text i {
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
}

.sr-button.button-tiny.button-icon-text {
	padding-left: 34px;
}

.sr-button.button-tiny.button-icon-text i {
	font-size: 14px;
	left: 14px;
}

.sr-button.button-mini.button-icon-text {
	padding-left: 44px;
}

.sr-button.button-mini.button-icon-text i {
	font-size: 18px;
	left: 18px;
}

.sr-button.button-small.button-icon-text {
	padding-left: 58px;
}

.sr-button.button-small.button-icon-text i {
	font-size: 22px;
	left: 26px;
}

.sr-button.button-medium.button-icon-text {
	padding-left: 70px;
}

.sr-button.button-medium.button-icon-text i {
	font-size: 26px;
	left: 36px;
}

.sr-button.button-big.button-icon-text {
	padding-left: 90px;
}

.sr-button.button-big.button-icon-text i {
	font-size: 34px;
	left: 44px;
}


/* Icon Button */

.button-icon i {
	font-size: 20px;
	position: relative;
	display: block;
	width: 20px;
	height: 20px;
	line-height: 20px;
}

.sr-button.button-tiny.button-icon i {
	font-size: 13px;
	width: 28px;
	height: 28px;
	line-height: 28px;
	left: .5px;
}

.sr-button.button-mini.button-icon i {
	font-size: 17px;
	width: 38px;
	height: 38px;
	line-height: 38px;
	left: .5px;
}

.sr-button.button-small.button-icon i {
	font-size: 21px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	left: 1px;
}

.sr-button.button-medium.button-icon i {
	font-size: 24px;
	width: 62px;
	height: 62px;
	line-height: 62px;
	left: 1px;
}

.sr-button.button-big.button-icon i {
	font-size: 32px;
	width: 76px;
	height: 76px;
	line-height: 76px;
	left: 1px;
}

.button-icon i.fa-play,
.button-icon i.ion-play {
	left: 4%!important;
}

.sr-button.button-icon {
	padding: 0;
	text-align: center;
}


/* Separator (hr)*/

hr {
	border: none;
	background: #000;
	height: 1px;
	width: 100%;
	margin: 0;
	opacity: 0.15;
	margin-left: 0;
}

.text-light hr {
	background: #fff;
	opacity: 0.22;
}

.align-center hr,
hr.align-center {
	margin-left: auto;
	margin-right: auto;
}

.align-right hr,
hr.align-right {
	margin-left: auto;
	margin-right: 0;
}


/* hr spacings (this might be optimized depending on your font and lineheight used) */

hr+h1 {
	margin-top: 10px;
}

h1+hr {
	margin-top: 11px;
}

hr+h2 {
	margin-top: 12px;
}

h2+hr {
	margin-top: 13px;
}

hr+h3,
h3+hr {
	margin-top: 14px;
}

hr+h4,
h4+hr {
	margin-top: 18px;
}

hr+h5,
h5+hr {
	margin-top: 21px;
}

hr+h6,
h6+hr {
	margin-top: 22px;
}

hr+p,
p+hr {
	margin-top: 20px;
}

hr.mini {
	width: 36px;
}

hr.small {
	width: 60px;
}

hr.medium {
	width: 120px;
}

hr.big {
	width: 180px;
}

hr.has-animation:not(.colored) {
	width: 0;
	transform: translateY(0px);
	opacity: 0.15!important;
}

.text-light hr.has-animation:not(.colored) {
	opacity: 0.22;
}

hr.mini.has-animation.animated {
	width: 36px;
	transition: width .5s;
}

hr.small.has-animation.animated {
	width: 60px;
	transition: width .6s;
}

hr.medium.has-animation.animated {
	width: 120px;
	transition: width .7s;
}

hr.big.has-animation.animated {
	width: 180px;
	transition: width .8s;
}

hr.thin {
	height: 1px;
}

hr.thick {
	height: 2px;
}

hr.fat {
	height: 4px;
}

hr.huge {
	height: 6px;
}

hr.colored {
	opacity: 1;
	background: #33bfd0;
	border-color: #33bfd0;
}

hr.dotted {
	background: none;
	height: 1px;
	border-top: 1px dotted #000;
}

.text-light hr.dotted {
	border-color: #fff;
}

hr.zigzag {
	background: repeat-x url('data:image/svg+xml;utf-8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="6px" viewBox="0 0 12 6" enable-background="new 0 0 12 6" xml:space="preserve"><polygon points="6,3.5 0,0 0,1.208 6,4.708 12,1.208 12,0" fill="%23000000"/></svg>');
	height: 5px;
}

.text-light hr.zigzag {
	background: repeat-x url('data:image/svg+xml;utf-8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="6px" viewBox="0 0 12 6" enable-background="new 0 0 12 6" xml:space="preserve"><polygon points="6,3.5 0,0 0,1.208 6,4.708 12,1.208 12,0" fill="%23ffffff"/></svg>');
}

hr.zigzag.colored {
	background: repeat-x url('data:image/svg+xml;utf-8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="6px" viewBox="0 0 12 6" enable-background="new 0 0 12 6" xml:space="preserve"><polygon points="6,3.5 0,0 0,1.208 6,4.708 12,1.208 12,0" fill="%2333bfd0"/></svg>');
}


/* Icon Boxes */

.icon-box {
	overflow: hidden;
}

.icon-box .icon-box-icon {
	float: left;
	width: 50px;
	color: #1a1a1a;
}

.text-light .icon-box .icon-box-icon {
	color: #fff;
}

.icon-box .icon-box-content {
	float: right;
	width: calc(100% - 70px);
	margin-top: 3px;
}


/* Inline Video */

.inline-video {
	position: relative;
	cursor: pointer;
	display: inline-block;
	max-width: 100%;
}

.slider-item.inline-video,
.parallax-section.inline-video {
	display: inherit;
}

.inline-video:before {
	content: "\f488";
	font-family: Ionicons;
	color: #fff;
	font-size: 35px;
	width: 55px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	padding-left: 5px;
	border: 2px solid rgba(255, 255, 255, .4);
	border-radius: 50px;
	transition: all .3s ease;
}

.inline-video:hover::before {
	border-color: #33bfd0;
	padding: 3px 3px 3px 7px;
}

.inline-video::after {
	content: attr(data-button);
	font-family: Lato;
	font-weight: 700;
	font-size: 12px;
	line-height: 22px;
	letter-spacing: .1em;
	text-transform: uppercase;
	color: #fff;
	position: absolute;
	top: 50%;
	margin-top: 50px;
	left: 0;
	width: 100%;
	height: auto;
	text-align: center;
}

.inline-video .inline-iframe-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.inline-video .inline-iframe-container .close-inline-video {
	color: #fff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	border: 2px solid rgba(255, 255, 255, .4);
	border-radius: 50px;
	opacity: 0;
	transition: all .3s ease;
}

.inline-video .inline-iframe-container .close-inline-video:hover {
	border-color: #33bfd0;
}

.inline-video.active .inline-iframe-container:hover .close-inline-video {
	opacity: 1;
}

.inline-video .inline-iframe-container .close-inline-video:before {
	content: "\f12a";
	font-family: Ionicons;
	font-size: 15px;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
}


/* Counter */

.sr-counter {
	margin-top: 10px;
}

div .sr-counter:first-child {
	margin-top: 0;
}

.sr-counter .counter-value {
	font-family: Montserrat;
	font-weight: 700;
	font-size: 26px;
	line-height: 36px;
	color: #1a1a1a;
}

.text-light .sr-counter .counter-value {
	color: #fff;
}

.sr-counter.counter-medium .counter-value {
	font-size: 36px;
	line-height: 38px;
}

.sr-counter.counter-big .counter-value {
	font-size: 46px;
	line-height: 50px;
}

.counter-value {
	opacity: 0;
	transition: opacity .6s ease;
}

.counter-value.animated {
	opacity: 1;
}

.counter-value .main {
	display: none;
}

.counter-value .digit {
	position: relative;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
}

.counter-value .digit>.digit-value {
	visibility: hidden;
	display: inline-block;
	vertical-align: middle;
}

.counter-value .digit .counter-animator {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
}

.counter-value .digit .counter-animator ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	transition: all 3s ease;
}

.counter-value .digit .counter-animator ul li {
	margin-top: 0;
}

.sr-counter+h1,
.sr-counter+h2,
.sr-counter+h3,
.sr-counter+h4,
.sr-counter+h5,
.sr-counter+h6 {
	margin-top: 10px;
}


/*	Tabs
 ---------------------------------------------------------------------------- */

.tabs {
	margin-top: 40px;
}

div .tabs:first-child {
	margin-top: 0;
}

.tabs ul.tab-nav {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	text-align: center;
}

.tabs ul.tab-nav li {
	display: inline-block;
	margin: 0 10px;
	position: relative;
}

.tabs ul.tab-nav li:after {
	content: "";
	width: calc(100% + 2px);
	height: 2px;
	background: #000;
	position: absolute;
	bottom: 10px;
	left: -1px;
	opacity: 0;
	transition: all .3s ease;
	z-index: 0;
}

.text-light .tabs ul.tab-nav li:after {
	background: #fff;
}

.tabs ul.tab-nav li.active:after {
	opacity: 0.15;
	bottom: 0;
}

.text-light .tabs ul.tab-nav li.active:after {
	opacity: 0.2;
}

.tabs ul.tab-nav li a {
	display: block;
	margin-bottom: 10px;
	opacity: 0.5;
	transition: opacity .3s ease;
}

.tabs ul.tab-nav li.active a,
.tabs ul.tab-nav li a:hover {
	color: #1a1a1a;
	opacity: 1;
}

.tabs .tab-container {
	margin-top: 40px;
	width: 100%;
}

.tabs .tab-container .tab-content {
	float: left;
	display: none;
	width: 100%;
}

.tabs .tab-container .active {
	display: block;
}


/* Button Tabs & Vertical */

.tabs-button ul.tab-nav li,
.vertical-tabs ul.tab-nav li {
	margin: 0 -4px 0 0;
	border-left: 1px solid #e0e0e0;
}

.tabs-button ul.tab-nav li:first-child,
.vertical-tabs ul.tab-nav li:first-child {
	border: none;
}

.tabs-button ul.tab-nav li:after,
.vertical-tabs ul.tab-nav li:after {
	display: none;
}

.tabs-button ul.tab-nav li a,
.vertical-tabs ul.tab-nav li a {
	background: #f5f6f7;
	margin: 0;
	padding: 15px 40px;
	opacity: 1;
	color: #9c9c9c;
}

.tabs-button ul.tab-nav li:not(.active) a:hover,
.vertical-tabs ul.tab-nav li:not(.active) a:hover {
	color: #1a1a1a;
}

.tabs-button ul.tab-nav li.active a,
.vertical-tabs ul.tab-nav li.active a {
	color: #fff;
	background: #33bfd0;
}

.tabs-button ul.tab-nav li.active,
.tabs-button ul.tab-nav li.active+li,
.vertical-tabs ul.tab-nav li.active,
.vertical-tabs ul.tab-nav li.active+li {
	border-color: #f5f6f7;
}

.vertical-tabs {
	overflow: hidden;
}

.vertical-tabs ul.tab-nav {
	float: left;
	width: 300px;
}

.vertical-tabs .tab-container {
	float: right;
	margin: 0;
	width: calc(100% - 340px);
}

.vertical-tabs ul.tab-nav li {
	margin: 0;
	display: block;
	border-left: none;
	border-top: 1px solid #e0e0e0;
}

.vertical-tabs ul.tab-nav li a {
	display: block;
}


/*	Toggle
 ---------------------------------------------------------------------------- */

.toggle-item {
	margin-top: 20px;
}

div .toggle-item:first-child {
	margin: 0;
}

.toggle-title {
	position: relative;
	padding-left: 20px;
	cursor: pointer;
}

.toggle-title:hover .toggle-name {
	color: #33bfd0;
}

.toggle-title:after {
	content: "\f218";
	font-family: Ionicons;
	font-size: 12px;
	line-height: 20px;
	color: #1a1a1a;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -10px;
	text-align: left;
}

.text-light .toggle-title:after {
	color: #fff;
}

.toggle-title.toggle-active:after {
	content: "\f209";
}

.toggle-title:before {
	content: "";
	width: calc(100% + 2px);
	height: 2px;
	background: #000;
	position: absolute;
	bottom: 5px;
	left: -1px;
	opacity: 0;
	transition: all .3s ease;
	z-index: 0;
}

.text-light .toggle-title:before {
	background: #fff;
}

.toggle-title.toggle-active:before {
	opacity: 0.15;
	bottom: -5px;
}

.text-light .toggle-title.toggle-active:before:after {
	opacity: 0.2;
}

.toggle-inner {
	margin-top: 20px;
	padding-bottom: 20px;
	display: none;
}


/*	Skills
 ---------------------------------------------------------------------------- */

.progress-bar-item {
	margin-top: 20px;
}

div .progress-bar-item:first-child {
	margin-top: 0;
}

.progress-bar-item .progress-name {
	margin-bottom: 4px;
	display: block;
}

.progress-bar-item .progress-bar {
	height: 2px;
	width: 100%;
	position: relative;
	background: rgba(0, 0, 0, .15);
}

.progress-bar-item.big-bar .progress-bar {
	height: 10px;
	border-radius: 2px;
}

.text-light .progress-bar-item .progress-bar {
	background: rgba(255, 255, 255, .2);
}

.progress-bar-item .progress-bar .progress-active {
	background: #1a1a1a;
	height: 100%;
	width: 0;
	position: relative;
}

.progress-bar-item.big-bar .progress-bar .progress-active {
	border-radius: 2px;
}

.text-light .progress-bar-item .progress-bar .progress-active {
	background: #fff;
}

.progress-bar-item .tooltip {
	position: absolute;
	width: 24px;
	height: 7px;
	line-height: 10px;
	line-height: 5px;
	padding: 8px 0 6px;
	font-size: 12px;
	text-align: center;
	color: #1a1a1a;
	font-weight: 400;
	top: -25px;
	right: 0;
	opacity: 0;
}

.text-light .tooltip {
	color: #fff;
}


/*	Testimonials
 ---------------------------------------------------------------------------- */

.testimonial {
	text-align: center;
	z-index: 1;
}

.testimonial-image {
	width: 80px;
	height: 80px;
	border-radius: 60px;
	overflow: hidden;
	display: inline-block;
}

.testimonial-content {
	margin-top: 20px;
}

.testimonial-content blockquote {
	font-size: 16px;
	line-height: 26px;
	color: #696969;
	margin: 0;
	padding: 30px 20px 0;
}

.text-light .testimonial-content blockquote {
	color: rgba(255, 255, 255, .80);
}

.testimonial-content blockquote:before {
	font-size: 14px;
	line-height: 20px;
	width: 20px;
	height: 20px;
	top: 0;
	margin-left: -10px;
	border: none;
	color: #1a1a1a;
}

.text-light .testimonial-content blockquote:before {
	color: #fff;
}

.testimonial-content .testimonial-name {
	opacity: 0.99;
	/* HACK FOR IMAGE BG OPTION */
	margin-top: 20px;
}

.testimonial-content .testimonial-meta {
	margin-top: 0;
}


/* image bg */

.testimonial-image-bg {
	position: relative;
}

.testimonial-image-bg:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	font-size: 0;
	height: 0;
}

.testimonial-image-bg {
	display: inline-block;
	height: 1%;
}

.testimonial-image-bg .testimonial-image {
	border-radius: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.testimonial-image-bg .testimonial-image img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.testimonial-image-bg .testimonial-content {
	margin-top: 0;
	text-align: left;
	width: 50%;
	float: right;
}

.testimonial-image-bg .testimonial-content blockquote {
	text-align: left;
	padding: 10px 0;
	font-size: 18px;
	line-height: 28px;
}

.testimonial-image-bg .testimonial-content blockquote:before {
	left: -10px;
	top: -5px;
	margin-left: 0;
	opacity: 0.2;
	font-size: 40px;
	line-height: 40px;
}


/*	Pricing Tables
 ---------------------------------------------------------------------------- */

.pricing-table {
	text-align: center;
}

.accent-pricing .pricing-table {
	margin-top: 30px;
}

.accent-pricing .pricing-table.accent-table,
.text-light .accent-pricing .pricing-table.accent-table {
	border: 2px solid #33bfd0;
	margin-top: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.bordered-sticky .pricing-table.accent-table+.pricing-table {
	border-left: none;
}

.accent-pricing .pricing-table.plain,
.text-light .accent-pricing .pricing-table.plain {
	border-color: #33bfd0;
	background: #33bfd0;
}

.pricing-table.accent-table .pricing-title {
	padding: 15px 0;
}

.pricing-table .pricing-price {
	margin-top: 20px;
	padding: 20px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.text-light .pricing-table .pricing-price,
.pricing-table.text-light .pricing-price {
	border-color: rgba(255, 255, 255, 0.22);
}

.pricing-table .pricing-price .price-unit {
	font-family: Montserrat;
	font-size: 34px;
	line-height: 44px;
	font-weight: 400;
	color: #1a1a1a;
	display: block;
}

.text-light .pricing-table .pricing-price .price-unit,
.pricing-table.text-light .pricing-price .price-unit {
	color: #fff;
}

.pricing-table.accent-table:not(.plain) .pricing-price .price-unit {
	color: #33bfd0;
}

.pricing-table .pricing-price .price-period {
	font-size: 14px;
}

.pricing-table .pricing-list {
	margin: 20px 0 0;
	list-style: none;
	padding: 0;
}

.pricing-table .pricing-action {
	margin-top: 20px;
}

.pricing-table.accent-table .pricing-action {
	padding: 15px 0;
}


/*	Team members
 ---------------------------------------------------------------------------- */

.team-content {
	margin-top: 20px;
}


/*	Alerts
 ---------------------------------------------------------------------------- */

div[class*='alert-'] {
	padding-left: 70px;
	position: relative;
	min-height: 50px;
}

div[class*='alert-']:before {
	content: "\f00d";
	font: normal normal normal 12px/1 FontAwesome;
	font-size: 18px;
	text-rendering: auto;
	text-align: center;
	line-height: 50px;
	width: 50px;
	height: 50px;
	position: absolute;
	top: -2px;
	left: 0;
	border: 2px solid rgba(0, 0, 0, .2);
	border-radius: 60px;
	color: #ff4b14;
}

div[class*='alert-'] h1,
div[class*='alert-'] h2,
div[class*='alert-'] h3,
div[class*='alert-'] h4,
div[class*='alert-'] h5,
div[class*='alert-'] h6 {
	color: #ff4b14;
}

div.alert-confirm:before {
	content: "\f00c";
	color: #26c872;
}

div.alert-confirm h1,
div.alert-confirm h2,
div.alert-confirm h3,
div.alert-confirm h4,
div.alert-confirm h5,
div.alert-confirm h6 {
	color: #26c872;
}