/*------------------------------------------------------------------------------

 8. FOOTER

 ---------------------------------------------------------------------------- */

footer {
	width: 100%;
	background: #f5f6f7;
	position: relative;
	border-top: 1px solid #e0e0e0;
	&.footer-dark {
		background: #1a1a1a;
		border-color: #333;
	}
	&.footer-custom {
		background: none;
		border: none;
	}
	.footer-inner {
		padding: 100px 0;
	}
	.copyright {
		border-top: 1px solid rgba(0, 0, 0, .10);
		text-align: center;
		padding: 30px 0;
		line-height: 20px;
	}
	#backtotop {
		text-align: center;
		font-size: 11px;
		font-family: Montserrat;
		font-weight: 400;
		line-height: 20px;
		position: fixed;
		bottom: 40px;
		right: -1px;
		width: auto;
		transition: all .3s ease;
		z-index: 100;
		color: #fff;
		background: #0f0f0f;
		padding: 10px 15px;
		transform: translateX(100%);
		&.visible {
			right: 40px;
			&:hover {
				transform: translateX(0%);
				right: 0;
			}
		}
		&:before {
			text-align: center;
			content: "\f126";
			font-family: Ionicons;
			font-size: 10px;
			line-height: 20px;
			height: 10px;
			width: 10px;
			margin: 0 15px 0 1px;
		}
	}
}

.text-light .copyright {
	border-color: rgba(255, 255, 255, .15);
}