/*----------------------------------------------

 8. FOOTER

 ------------------------------------------------*/

footer {
	width: 100%;
	background: #f5f6f7;
	position: relative;
	border-top: 1px solid #e0e0e0;
}

footer.footer-dark {
	background: #1a1a1a;
	border-color: #333;
}

footer.footer-custom {
	background: none;
	border: none;
}

footer .footer-inner {
	padding: 100px 0;
}

footer .copyright {
	border-top: 1px solid rgba(0, 0, 0, .10);
	text-align: center;
	padding: 30px 0;
	line-height: 20px;
}

.text-light .copyright {
	border-color: rgba(255, 255, 255, .15);
}

footer #backtotop {
	text-align: center;
	font-size: 11px;
	font-family: Montserrat;
	font-weight: 400;
	line-height: 20px;
	position: fixed;
	bottom: 40px;
	right: -1px;
	width: auto;
	transition: all .3s ease;
	z-index: 100;
	color: #fff;
	background: #0f0f0f;
	padding: 10px 15px;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}

footer #backtotop.visible {
	right: 40px;
}

footer #backtotop.visible:hover {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	-ms-transform: translateX(0%);
	-o-transform: translateX(0%);
	transform: translateX(0%);
	right: 0;
}

footer #backtotop:before {
	text-align: center;
	content: "\f126";
	font-family: Ionicons;
	font-size: 10px;
	line-height: 20px;
	height: 10px;
	width: 10px;
	margin: 0 15px 0 1px;
}