/*------------------------------------------------------------------------------

 7. HEADER OPTIONS

 ---------------------------------------------------------------------------- */


/* Header Style Floating */

header.header-style-floating {
	top: 40px;
	left: 40px;
	width: calc(100% - 80px);
}

header.header-style-floating:after {
	content: "";
	background: transparent;
	width: 100%;
	height: 40px;
	position: absolute;
	top: -40px;
	left: 0;
}

.page-boxed header.header-style-floating {
	width: 1200px;
	left: 50%;
	margin-left: -600px;
}

header.header-bordered.header-style-floating {
	border: 1px solid rgba(0, 0, 0, .10);
}

header.header-bordered.header-style-floating nav#main-nav .mega-menu-content {
	top: -40px;
}

header.header-bordered.header-style-floating:not(.small-header) #header-cart .header-cart-content {
	right: -1px;
}


/* Header Bordered */

header.header-bordered {
	border-bottom: 1px solid rgba(0, 0, 0, .10);
}

header.header-bordered #logo {
	border-right: 1px solid rgba(0, 0, 0, .10);
	padding-right: 30px;
}

header.header-bordered #menu-misc {
	border-left: 1px solid rgba(0, 0, 0, .10);
	margin-left: 30px;
}

header.header-bordered nav#main-nav ul li>ul.submenu {
	margin-top: 1px;
}


/* when header normal bordered */

header.header-bordered nav#main-nav ul li>ul.submenu:after {
	border-top: none;
}

header.header-bordered #header-cart .header-cart-content {
	margin-top: 1px;
}

header.header-bordered #header-cart .header-cart-content:after {
	border-top: none;
}


/* Header Dark */

header.header-dark {
	background: #1a1a1a;
	color: #fff;
}

header.header-dark:not(.mega-hover) nav#main-nav>ul>li>a {
	color: #fff;
}

header.header-dark:not(.mega-hover) nav#main-nav>ul>li>a:after {
	background: #fff;
}

header.header-dark:not(.mega-hover) nav#main-nav>ul>li>a.button-style {
	color: #1a1a1a;
}

header.header-dark:not(.mega-hover) nav#main-nav>ul>li>a.button-style:before {
	background: #fff;
}

header.header-dark:not(.mega-hover) #header-search a#show-search {
	color: #fff;
}

header.header-dark:not(.mega-hover) #header-cart a#show-cart {
	color: #fff;
}

header.header-dark:not(.mega-hover) #header-language a#show-language {
	color: #fff;
}

header.header-dark:not(.mega-hover) #header-social .socialmedia-widget li a {
	color: #fff;
}

header.header-dark:not(.mega-hover) #logo #dark-logo {
	opacity: 0;
}

header.header-dark:not(.mega-hover) #logo #dark-logo+#light-logo {
	opacity: 1;
}

header.header-dark:not(.mega-hover) #menu .responsive-nav-toggle .hamburger,
header.header-dark:not(.mega-hover) #menu .responsive-nav-toggle .hamburger:before,
header.header-dark:not(.mega-hover) #menu .responsive-nav-toggle .hamburger:after {
	background-color: #fff;
}

header.header-bordered.header-dark:not(.mega-hover) {
	border-color: rgba(255, 255, 255, .15);
}

header.header-bordered.header-dark:not(.mega-hover) #logo {
	border-right: 1px solid rgba(255, 255, 255, .15);
}

header.header-bordered.header-dark:not(.mega-hover) #menu-misc {
	border-left: 1px solid rgba(255, 255, 255, .15);
}

header.header-bordered.header-dark:not(.mega-hover) nav#main-nav .mega-menu-content:before {
	border-bottom: 1px solid rgba(255, 255, 255, .15);
}

header.header-bordered.header-dark:not(.mega-hover) nav#main-nav .mega-menu-content {
	border-bottom: 1px solid rgba(255, 255, 255, .15);
}

header.header-dark:not(.mega-hover) #top-bar {
	border-color: rgba(255, 255, 255, .15);
}

header.header-dark:not(.mega-hover) #top-bar .socialmedia-widget li a {
	color: #fff;
}


/* Transparent Header */

header.header-transparent {
	background: transparent;
	color: #1a1a1a;
}

header.header-transparent:not(.mega-hover) nav#main-nav>ul>li>a {
	color: #1a1a1a;
}

header.header-transparent:not(.mega-hover) nav#main-nav>ul>li>a:after {
	background: #1a1a1a;
}

header.header-transparent:not(.mega-hover) nav#main-nav>ul>li>a.button-style {
	color: #fff;
}

header.header-transparent:not(.mega-hover) nav#main-nav>ul>li>a.button-style:before {
	background: #1a1a1a;
}

header.header-transparent:not(.mega-hover) #header-search a#show-search {
	color: #1a1a1a;
}

header.header-transparent:not(.mega-hover) #header-cart a#show-cart {
	color: #1a1a1a;
}

header.header-transparent:not(.mega-hover) #header-language a#show-language {
	color: #1a1a1a;
}

header.header-transparent:not(.mega-hover) #header-social .socialmedia-widget li a {
	color: #1a1a1a;
}

header.header-transparent:not(.mega-hover) #logo #dark-logo {
	opacity: 1;
}

header.header-transparent:not(.mega-hover) #logo #dark-logo+#light-logo {
	opacity: 0;
}

header.header-bordered.header-transparent:not(.mega-hover) {
	border-color: rgba(0, 0, 0, .10);
}

header.header-bordered.header-transparent:not(.mega-hover) #logo {
	border-right: 1px solid rgba(0, 0, 0, .10);
}

header.header-bordered.header-transparent:not(.mega-hover) #menu-misc {
	border-left: 1px solid rgba(0, 0, 0, .10);
}

header.header-bordered.header-transparent:not(.mega-hover) nav#main-nav .mega-menu-content:before {
	border-bottom: 1px solid rgba(0, 0, 0, .10);
}

header.header-bordered.header-transparent:not(.mega-hover) nav#main-nav .mega-menu-content {
	border-bottom: 1px solid rgba(0, 0, 0, .10);
}

header.header-transparent:not(.mega-hover) #top-bar {
	border-color: rgba(0, 0, 0, .10);
}


/* Transparent Header (light transparent) */

header.header-transparent.transparent-light:not(.mega-hover) {
	color: #fff;
}

header.header-transparent.transparent-light:not(.mega-hover) nav#main-nav>ul>li>a {
	color: #fff;
}

header.header-transparent.transparent-light:not(.mega-hover) nav#main-nav>ul>li>a:after {
	background: #fff;
}

header.header-transparent.transparent-light:not(.mega-hover) nav#main-nav>ul>li>a.button-style {
	color: #1a1a1a;
}

header.header-transparent.transparent-light:not(.mega-hover) nav#main-nav>ul>li>a.button-style:before {
	background: #fff;
}

header.header-transparent.transparent-light:not(.mega-hover) #header-search a#show-search {
	color: #fff;
}

header.header-transparent.transparent-light:not(.mega-hover) #header-cart a#show-cart {
	color: #fff;
}

header.header-transparent.transparent-light:not(.mega-hover) #header-language a#show-language {
	color: #fff;
}

header.header-transparent.transparent-light:not(.mega-hover) #header-social .socialmedia-widget li a {
	color: #fff;
}

header.header-transparent.transparent-light:not(.mega-hover) #logo #dark-logo {
	opacity: 0;
}

header.header-transparent.transparent-light:not(.mega-hover) #logo #dark-logo+#light-logo {
	opacity: 1;
}

header.header-transparent.transparent-light:not(.mega-hover) #menu .responsive-nav-toggle .hamburger,
header.header-transparent.transparent-light:not(.mega-hover) #menu .responsive-nav-toggle .hamburger:before,
header.header-transparent.transparent-light:not(.mega-hover) #menu .responsive-nav-toggle .hamburger:after {
	background-color: #fff;
}

header.header-bordered.header-transparent.transparent-light:not(.mega-hover) {
	border-color: rgba(255, 255, 255, .15);
}

header.header-bordered.header-transparent.transparent-light:not(.mega-hover) #logo {
	border-right: 1px solid rgba(255, 255, 255, .15);
}

header.header-bordered.header-transparent.transparent-light:not(.mega-hover) #menu-misc {
	border-left: 1px solid rgba(255, 255, 255, .15);
}

header.header-bordered.header-transparent.transparent-light:not(.mega-hover) nav#main-nav .mega-menu-content:before {
	border-bottom: 1px solid rgba(255, 255, 255, .15);
}

header.header-bordered.header-transparent.transparent-light:not(.mega-hover) nav#main-nav .mega-menu-content {
	border-bottom: 1px solid rgba(255, 255, 255, .15);
}

header.header-transparent.transparent-light:not(.mega-hover) #top-bar {
	border-color: rgba(255, 255, 255, .15);
}

header.header-transparent.transparent-light:not(.mega-hover) #top-bar .socialmedia-widget li a {
	color: #fff;
}


/* Sub Dark */

header.sub-dark nav#main-nav ul li>ul.submenu {
	background: #1a1a1a;
}

header.sub-dark nav#main-nav ul li>ul.submenu:after {
	border: 1px solid rgba(255, 255, 255, .07);
}

header.sub-dark nav#main-nav .mega-menu-content {
	background: #1a1a1a;
}

header.sub-dark nav#main-nav .mega-menu-content:before {
	border-bottom: 1px solid rgba(255, 255, 255, .15);
}

header.sub-dark nav#main-nav ul li ul>li>a {
	color: #c9c9c9;
}

header.sub-dark nav#main-nav .mega-menu-content ul li.mega-menu-title>a {
	color: #fff!important;
}

header.sub-dark nav#main-nav .mega-menu-content ul li.mega-menu-title>a:after {
	background: #fff;
	opacity: 0.2;
}

header.sub-dark #header-cart .header-cart-content {
	background: #1a1a1a;
}

header.sub-dark #header-cart .header-cart-content:after {
	border-color: 0 solid rgba(255, 255, 255, .07);
}

header.sub-dark #header-cart .cart-item-list li {
	border-bottom: 1px solid rgba(255, 255, 255, .15);
}

header.sub-dark #header-cart .cart-item-list li .cart-item-name a {
	color: #fff;
}

header.sub-dark #header-cart .cart-action .cart-total-amount {
	color: #fff;
}

header.sub-dark #header-language .header-language-content {
	background: #1a1a1a;
}

header.sub-dark #header-language .header-language-content:after {
	border: 1px solid rgba(255, 255, 255, .07);
}

header.sub-dark #header-language .header-language-content ul.lang-select li a {
	color: #fff;
}


/* Small Header (change spacings/sizes) */

header.small-header:after {
	display: none;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) #top-bar {
	padding: 0 30px;
	line-height: 0;
	height: 0;
	overflow: hidden;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) #top-bar>div {
	transform: translateY(-40px);
	transition: all .4s ease;
	height: 0;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) #logo {
	padding-top: 15px;
	padding-bottom: 15px;
	height: 30px;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) #menu .responsive-nav-toggle {
	height: 30px;
	line-height: 30px;
	margin-top: 15px;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) nav#main-nav>ul>li>a {
	height: 30px;
	line-height: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) nav#main-nav>ul>li>a:after {
	margin-top: 12px;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) nav#main-nav ul li>ul.submenu {
	margin-top: 1px;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) nav#main-nav ul li>ul.submenu:after {
	border-top: none;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) #header-search,
header.small-header:not(.not-sticky):not(.header-style-vertical) #header-cart,
header.small-header:not(.not-sticky):not(.header-style-vertical) #header-language,
header.small-header:not(.not-sticky):not(.header-style-vertical) #header-social {
	padding-top: 15px;
	padding-bottom: 15px;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) #header-search a#show-search,
header.small-header:not(.not-sticky):not(.header-style-vertical) #header-cart a#show-cart,
header.small-header:not(.not-sticky):not(.header-style-vertical) #header-language a#show-language,
header.small-header:not(.not-sticky):not(.header-style-vertical) #header-social .socialmedia-widget li a {
	height: 30px;
	line-height: 30px;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) nav#main-nav .mega-menu-content:before {
	height: 60px;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) #header-cart .header-cart-content {
	margin-top: 1px;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) #header-cart .header-cart-content:after {
	border-top: none;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) #header-cart a#show-cart span {
	top: -1px;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) #header-language .header-language-content {
	top: 45px;
}


/* Small Header - Floating Style */

header.small-header:not(.not-sticky):not(.header-style-vertical) {
	top: 0;
	left: 0;
	width: 100%;
}

.page-boxed header.small-header:not(.not-sticky):not(.header-style-vertical) {
	width: 1280px;
	left: 50%;
	margin-left: -640px;
}

header.small-header.header-style-floating:not(.not-sticky):not(.header-style-vertical) {
	border-top: none;
	border-left: none;
	border-right: none;
}

header.small-header.header-style-floating nav#main-nav .mega-menu-content:not(.not-sticky):not(.header-style-vertical) {
	top: 0;
}


/* Small Header (white/light background) */

header.small-header:not(.not-sticky):not(.header-style-vertical) {
	background: #fff!important;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) {
	border-bottom: 1px solid rgba(0, 0, 0, .10)!important;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) nav#main-nav>ul>li>a {
	color: #1a1a1a!important;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) nav#main-nav>ul>li>a:after {
	background: #1a1a1a!important;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) nav#main-nav>ul>li>a.button-style {
	color: #fff!important;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) nav#main-nav>ul>li>a.button-style:before {
	background: #1a1a1a;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) nav#main-nav ul li>ul.submenu {
	margin-top: 1px;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) nav#main-nav ul li>ul.submenu:after {
	border-top: none;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) #header-search a#show-search {
	color: #1a1a1a!important;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) #header-search a#show-search:hover {
	color: #33bfd0!important;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) #header-cart a#show-cart {
	color: #1a1a1a!important;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) #header-language a#show-language {
	color: #1a1a1a!important;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) #header-social .socialmedia-widget li a {
	color: #1a1a1a!important;
}


/*header.small-header #header-cart .header-cart-content:after { border-top: none; }*/

header.small-header:not(.not-sticky):not(.header-style-vertical) #logo #dark-logo {
	opacity: 1!important;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) #logo #dark-logo+#light-logo {
	opacity: 0!important;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) .responsive-nav-toggle .hamburger,
header.small-header:not(.not-sticky):not(.header-style-vertical) .responsive-nav-toggle .hamburger:before,
header.small-header:not(.not-sticky):not(.header-style-vertical) .responsive-nav-toggle .hamburger:after {
	background-color: #1a1a1a!important;
}

header.header-bordered.small-header:not(.not-sticky):not(.header-style-vertical) #logo {
	border-right: 1px solid rgba(0, 0, 0, .10)!important;
}

header.header-bordered.small-header:not(.not-sticky):not(.header-style-vertical) #menu-misc {
	border-left: 1px solid rgba(0, 0, 0, .10)!important;
}

header.header-bordered.small-header:not(.not-sticky):not(.header-style-vertical) nav#main-nav .mega-menu-content:before {
	border-bottom: 1px solid rgba(0, 0, 0, .10)!important;
}

header.header-bordered.small-header:not(.not-sticky):not(.header-style-vertical) nav#main-nav .mega-menu-content {
	border-bottom: 1px solid rgba(0, 0, 0, .10)!important;
}


/* Small Header (dark background) */

header.small-header.header-dark:not(.not-sticky):not(.header-style-vertical) {
	border-bottom: 1px solid rgba(255, 255, 255, .15)!important;
}

header.small-header.header-dark:not(.mega-hover):not(.not-sticky):not(.header-style-vertical) {
	background: #1a1a1a!important;
}

header.small-header.header-dark:not(.mega-hover):not(.not-sticky):not(.header-style-vertical) nav#main-nav>ul>li>a {
	color: #fff!important;
}

header.small-header.header-dark:not(.mega-hover):not(.not-sticky):not(.header-style-vertical) nav#main-nav>ul>li>a:after {
	background: #fff!important;
}

header.small-header.header-dark:not(.mega-hover):not(.not-sticky):not(.header-style-vertical) nav#main-nav>ul>li>a.button-style {
	color: #1a1a1a!important;
}

header.small-header.header-dark:not(.mega-hover):not(.not-sticky):not(.header-style-vertical) nav#main-nav>ul>li>a.button-style:before {
	background: #fff;
}

header.small-header.header-dark:not(.mega-hover):not(.not-sticky):not(.header-style-vertical) #header-search a#show-search {
	color: #fff!important;
}

header.small-header.header-dark:not(.mega-hover):not(.not-sticky):not(.header-style-vertical) #header-search a#show-search:hover {
	color: #33bfd0!important;
}

header.small-header.header-dark:not(.mega-hover):not(.not-sticky):not(.header-style-vertical) #header-cart a#show-cart {
	color: #fff!important;
}

header.small-header.header-dark:not(.mega-hover):not(.not-sticky):not(.header-style-vertical) #header-language a#show-language {
	color: #fff!important;
}

header.small-header.header-dark:not(.mega-hover):not(.not-sticky):not(.header-style-vertical) #header-social .socialmedia-widget li a {
	color: #fff!important;
}

header.small-header.header-dark:not(.mega-hover):not(.not-sticky):not(.header-style-vertical) #logo #dark-logo {
	opacity: 0!important;
}

header.small-header.header-dark:not(.mega-hover):not(.not-sticky):not(.header-style-vertical) #logo #dark-logo+#light-logo {
	opacity: 1;
}

header.small-header.header-dark:not(.mega-hover):not(.not-sticky):not(.header-style-vertical) {
	border-bottom: 1px solid rgba(255, 255, 255, .15)!important;
}

header.small-header.header-dark:not(.mega-hover):not(.not-sticky):not(.header-style-vertical) #menu .responsive-nav-toggle .hamburger,
header.small-header.header-dark:not(.mega-hover):not(.not-sticky):not(.header-style-vertical) #menu .responsive-nav-toggle .hamburger:before,
header.small-header.header-dark:not(.mega-hover):not(.not-sticky):not(.header-style-vertical) #menu .responsive-nav-toggle .hamburger:after {
	background-color: #fff!important;
}

header.header-bordered.small-header.header-dark:not(.mega-hover):not(.not-sticky):not(.header-style-vertical) #logo {
	border-right: 1px solid rgba(255, 255, 255, .15)!important;
}

header.header-bordered.small-header.header-dark:not(.mega-hover):not(.not-sticky):not(.header-style-vertical) #menu-misc {
	border-left: 1px solid rgba(255, 255, 255, .15)!important;
}

header.header-bordered.small-header.header-dark:not(.mega-hover):not(.not-sticky):not(.header-style-vertical) nav#main-nav .mega-menu-content:before {
	border-bottom: 1px solid rgba(255, 255, 255, .15)!important;
}

header.header-bordered.small-header.header-dark:not(.mega-hover):not(.not-sticky):not(.header-style-vertical) nav#main-nav .mega-menu-content {
	border-bottom: 1px solid rgba(255, 255, 255, .15)!important;
}


/* Show scroll logo and hide others */

header.small-header:not(.not-sticky):not(.header-style-vertical) #logo #scroll-logo {
	transition: transform .3s .4s ease, opacity .3s .4s ease, max-width .1s .4s ease;
	transform: translateX(0);
	max-width: 400px;
	opacity: 1;
}

header.small-header:not(.not-sticky):not(.header-style-vertical) #logo #scroll-logo~img,
header.small-header.header-dark:not(.mega-hover):not(.not-sticky):not(.header-style-vertical) #logo #scroll-logo~#light-logo {
	transition: transform .3s ease, opacity .3s ease, max-width .2s .3s ease;
	transform: translateX(-20px);
	max-width: 0;
	opacity: 0!important;
}


/* Responsive Menu */

#menu.menu-is-open nav#main-nav ul li a {
	color: #fff!important;
}

#menu.menu-is-open nav#main-nav ul ul li a {
	color: #c9c9c9!important;
}

#menu.menu-is-open nav#main-nav>ul>li>a.button-style {
	color: #1a1a1a!important;
}

#menu.menu-is-open nav#main-nav>ul>li>a.button-style:before {
	background: #fff;
}

#menu.menu-is-open nav#main-nav .mega-menu-content ul li.mega-menu-title>a {
	color: #c9c9c9!important;
}

#menu.menu-is-open #header-search a#show-search {
	color: #fff!important;
}

#menu.menu-is-open #header-cart a#show-cart {
	color: #fff!important;
}

#menu.menu-is-open #header-language a#show-language {
	color: #fff!important;
}

#menu.menu-is-open #header-social .socialmedia-widget li a {
	color: #fff!important;
}

header #menu.menu-is-open .responsive-nav-toggle .hamburger,
header #menu.menu-is-open .responsive-nav-toggle .hamburger:before,
header #menu.menu-is-open .responsive-nav-toggle .hamburger:after {
	background-color: #fff!important;
}


/* Vertical Header */

header.header-style-vertical,
.page-boxed header.header-style-vertical {
	width: 300px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	-moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, .15);
	-webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, .15);
}

.page-boxed header.header-style-vertical {
	left: 50%;
	margin-left: -640px;
}

header.header-style-vertical.header-dark {
	border-right: 1px solid #3d3d3d;
}

header.header-style-vertical~#footer,
header.header-style-vertical~#hero,
header.header-style-vertical~#page-body {
	width: calc(100% - 300px);
	margin-left: 300px;
}

header.header-style-vertical .header-inner {
	padding: 0;
}

header.header-style-vertical #logo {
	width: 100%;
	float: none;
	max-width: 100%;
	padding: 40px 0;
	text-align: center;
}

header.header-style-vertical #menu:not(.menu-is-open) {
	float: none;
}

header.header-style-vertical #menu:not(.menu-is-open) nav#main-nav {
	float: none;
	padding: 0 30px;
	overflow-y: scroll;
	max-height: calc(100vh - 220px);
	position: absolute;
	top: 50%;
	left: 0;
	width: calc(100% - 60px);
	transform: translateY(-50%);
}

header.header-style-vertical #menu:not(.menu-is-open) nav#main-nav ul>li {
	margin: 0;
	display: block;
	width: 100%;
	text-align: center;
}

header.header-style-vertical #menu:not(.menu-is-open) nav#main-nav ul li a {
	height: 22px!important;
	line-height: 22px!important;
	padding: 4px 0!important;
	display: inline-block!important;
}

header.header-style-vertical.header-dark #menu:not(.menu-is-open) nav#main-nav ul li ul>li>a {
	color: #c9c9c9;
}

header.header-style-vertical #menu:not(.menu-is-open) nav#main-nav>ul>li>a.button-style {
	height: 30px!important;
	line-height: 30px!important;
	padding: 0 15px!important;
	margin: 4px 0;
}

header.header-style-vertical #menu:not(.menu-is-open) nav#main-nav>ul>li>a:after {
	display: none;
}

header.header-style-vertical #menu:not(.menu-is-open) nav#main-nav ul li.menu-item-has-children>a:before {
	content: "\f3d0"!important;
	display: block;
	right: -15px;
}

header.header-style-vertical #menu:not(.menu-is-open) nav#main-nav ul li>ul.submenu {
	display: none;
	position: static;
	top: auto!important;
	left: auto!important;
	right: auto!important;
	transition: none!important;
	width: auto;
	opacity: 1;
	visibility: visible;
	background: none;
	margin-top: 0;
	padding: 15px 0;
}

header.header-style-vertical #menu:not(.menu-is-open) nav#main-nav ul li>ul.submenu:after {
	display: none;
}

header.header-style-vertical #menu:not(.menu-is-open) nav#main-nav ul li>ul.submenu>li {
	padding: 0;
	margin: 0!important;
}

header.header-style-vertical #menu:not(.menu-is-open) nav#main-nav .mega-menu-content {
	display: none;
	position: static;
	top: auto!important;
	left: auto!important;
	right: auto!important;
	transition: none!important;
	transform: translateY(0)!important;
	margin: 0;
	z-index: auto;
	background: none;
	padding: 15px 0;
}

header.header-style-vertical #menu:not(.menu-is-open) nav#main-nav .mega-menu-content:before {
	display: none;
}

header.header-style-vertical #menu:not(.menu-is-open) nav#main-nav .mega-menu-content .mega-menu-inner {
	width: auto!important;
	margin: 0!important;
	transform: translateY(0)!important;
	transition: none!important;
	opacity: 1;
	visibility: visible;
	padding: 0;
}

header.header-style-vertical #menu:not(.menu-is-open) nav#main-nav .mega-menu-content .mega-menu-inner>ul>li {
	float: none;
	width: 100%!important;
	margin: 0;
}

header.header-style-vertical #menu:not(.menu-is-open) nav#main-nav .mega-menu-content ul li.mega-menu-title>a {
	margin: 0;
}

header.header-style-vertical.header-dark #menu:not(.menu-is-open) nav#main-nav .mega-menu-content ul li.mega-menu-title>a {
	color: #c9c9c9;
}

header.header-style-vertical #menu:not(.menu-is-open) nav#main-nav .mega-menu-content ul li.mega-menu-title>a:after {
	display: none;
}

header.header-style-vertical #menu:not(.menu-is-open) nav#main-nav .mega-menu-content ul li.mega-menu-title>a:before {
	content: "\f3d0";
	font-family: Ionicons;
	font-size: 10px;
	line-height: 10px;
	height: 10px;
	width: 10px;
	text-align: center;
	position: absolute;
	top: 50%;
	right: -15px;
	margin-top: -5px;
}

header.header-style-vertical #menu:not(.menu-is-open) nav#main-nav .mega-menu-content ul li.mega-menu-title>ul {
	display: none;
	padding: 15px 0;
}

header.header-style-vertical #menu:not(.menu-is-open) nav#main-nav .mega-menu-content ul li.mega-menu-title>ul li {
	padding: 0!important;
}

header.header-style-vertical #menu:not(.menu-is-open) #header-search a#show-search,
header.header-style-vertical #menu:not(.menu-is-open) #header-cart a#show-cart,
header.header-style-vertical #menu:not(.menu-is-open) #header-language a#show-language,
header.header-style-vertical #menu:not(.menu-is-open) #header-social .socialmedia-widget li a {
	height: 30px;
	line-height: 30px;
}

header.header-style-vertical #menu:not(.menu-is-open) #menu-misc {
	float: none;
	position: absolute;
	bottom: 0;
	left: 0;
	height: auto;
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}

header.header-style-vertical #menu:not(.menu-is-open) #menu-misc>div:first-child {
	margin-left: 0;
}

header.header-style-vertical #menu:not(.menu-is-open) #menu-misc>div {
	display: inline-block;
	float: none;
}

header.header-style-vertical #menu:not(.menu-is-open) #header-cart .header-cart-content {
	display: none;
}

header.header-style-vertical #menu:not(.menu-is-open) #header-language .header-language-content {
	top: -30px;
}

header.header-style-vertical~#page-body #smart-nav {
	left: 300px;
}

.page-boxed header.header-style-vertical~#page-body #smart-nav {
	left: 50%;
	margin-left: -340px;
}

header.header-style-vertical #top-bar>div {
	display: none;
}

header.header-style-vertical #top-bar>div.show-on-mobile {
	display: block;
	text-align: center;
	width: 100%;
}

header.header-style-vertical #top-bar .socialmedia-widget li {
	margin-right: -5px;
	padding: 0 10px;
}