#m {
	a {
		transition: opacity 1s ease;
		margin: 0;
		opacity: 0.5;
		font-size: 14px;
		color: #fff;
		line-height: 1;
	}
	@media (min-width: 900px) {
		a:hover {
			opacity: 1;
		}
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}