/* Lists
 ---------------------------------------------------------------------------- */

ul {
	margin-top: 20px;
	margin-left: 15px;
	list-style: disc;
	&.no-list-style {
		list-style: none;
		margin-left: 0;
	}
}

div ul:first-child,
li ul:first-child {
	margin-top: 0;
}

ol {
	margin-top: 20px;
	margin-left: 30px;
	list-style: decimal;
}

div ol:first-child,
li ol:first-child {
	margin-top: 0;
}

ul li,
ol li {
	margin-top: 10px;
	&:first-child {
		margin-top: 0;
	}
}