/*------------------------------------------------------------------------------

 10. PORTFOLIO

 ---------------------------------------------------------------------------- */

.portfolio-item {
	.portfolio-desc {
		margin-top: 15px;
		&:first-child {
			margin-top: 0;
		}
		.portfolio-name {
			transition: all .2s ease;
		}
		a {
			&:hover {
				.portfolio-name {
					color: #33bfd0;
				}
			}
		}
		.portfolio-category {
			+ .portfolio-name {
				margin-top: 3px;
			}
		}
	}
}