/*------------------------------------------------------------------------------

 SHOP

 ---------------------------------------------------------------------------- */


/* Shop General
 ---------------------------------------------------------------------------- */

.product-media {
	position: relative;
	overflow: hidden;
	.onsale {
		font-family: Montserrat;
		font-size: 10px;
		line-height: 17px;
		font-weight: 400;
		letter-spacing: .04em;
		text-transform: uppercase;
		position: absolute;
		top: 0;
		right: 0;
		background: #33bfd0;
		display: inline-block;
		padding: 3px 15px;
		color: #fff;
	}
}

.product-price {
	font-family: Montserrat;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: #1a1a1a;
	margin-top: 5px;
	.text-light & {
		color: #fff;
	}
}

.product-price del,
.product-desc .product-price ins {
	display: block;
}

.product-price {
	ins {
		text-decoration: none;
		color: #33bfd0;
	}
	del {
		font-size: 11px;
		opacity: 0.4;
	}
}

.product-rating {
	margin-top: 5px;
	.star-rating {
		display: inline-block;
		color: #33bfd0;
		font-size: 16px;
	}
}


/* Shop Grid
 ---------------------------------------------------------------------------- */

.shop-container {
	.shop-item {
		.product-media {
			.add-to-cart-overlay {
				position: absolute;
				width: 100%;
				bottom: 0;
				left: 0;
				transition: all .3s ease;
				transform: translateY(101%);
				a {
					font-family: Lato;
					font-weight: 700;
					font-size: 11px;
					line-height: 20px;
					line-height: 22px;
					letter-spacing: .1em;
					text-transform: uppercase;
					text-align: center;
					background: #1a1a1a;
					color: #fff;
					display: block;
					padding: 13px 0;
					transition: all .2s ease;
					&:hover {
						background: #33bfd0;
					}
				}
			}
			&:hover {
				.add-to-cart-overlay {
					transform: translateY(0%);
				}
			}
		}
		.product-desc {
			margin-top: 20px;
		}
	}
}


/* Shop Single
 ---------------------------------------------------------------------------- */

#shop-single {
	.onsale {
		font-size: 12px;
		line-height: 20px;
		padding: 7px 17px;
	}
	.product-thumbs {
		margin-top: 20px;
		overflow: hidden;
		width: calc(100%);
		a {
			float: left;
			width: calc(20%-16px);
			display: block;
			height: auto;
			margin-right: 20px;
			&:nth-child(5n) {
				margin-right: 0;
			}
			&.review-link {
				font-family: Lora;
				font-weight: 400;
				font-size: 12px;
				font-style: italic;
				letter-spacing: .03em;
				opacity: 0.6;
				color: #1a1a1a;
				margin-left: 10px;
				display: inline-block;
				&:hover {
					opacity: 1;
				}
			}
		}
	}
	.product-price {
		font-size: 18px;
		line-height: 22px;
		margin-top: 30px;
		ins {
			color: #1a1a1a;
		}
		del {
			font-size: 13px;
		}
	}
	.product-intro {
		margin-top: 30px;
	}
	form {
		&.add-to-cart {
			margin-top: 30px;
			.quantity {
				position: relative;
				width: 50px;
				padding-right: 19px;
				display: inline-block;
				top: 1px;
				margin-right: 20px;
				input[type=text] {
					text-align: center;
				}
				input[type=button] {
					padding: 0;
					margin: 0;
					line-height: 15px;
					width: 20px;
					height: 50%;
					position: absolute;
					top: 0;
					right: 0;
					&.minus {
						top: auto;
						bottom: 0;
						border-top: 1px solid #3d3d3d;
					}
				}
			}
		}
	}
	.product-meta {
		margin-top: 30px;
		padding: 20px 0;
		border-top: 1px solid #e0e0e0;
		border-bottom: 1px solid #e0e0e0;
	}
	.product-content {
		background: #f5f6f7;
		margin-top: 100px;
		.tabs .tab-container {
			margin-top: 60px;
		}
	}
	#product-review {
		margin-top: 0;
		.comment-list {
			margin: 0;
		}
		.product-rating {
			position: absolute;
			top: 0;
			right: 0;
			margin: 0;
			.star-rating {
				font-size: 12px;
				line-height: 16px;
			}
		}
	}
	#product-addreview select.rating {
		width: 100%;
	}
}


/* Shop Cart & Checkout
 ---------------------------------------------------------------------------- */

table {
	&.table-cart {
		tbody {
			td {
				padding: 20px 0;
			}
			tr {
				&:first-child td {
					padding-top: 0;
				}
				&:last-child {
					border-bottom: none;
					td {
						padding-bottom: 0;
					}
				}
			}
		}
		thead {
			&+tbody {
				tr:first-child {
					td {
						padding-top: 20px;
					}
				}
			}
			th {
				padding-bottom: 20px;
			}
		}
		.product-remove {
			width: 5%;
			text-align: center;
			a {
				color: #1a1a1a;
				font-size: 12px;
				&:hover {
					color: #f23030;
				}
			}
		}
		.product-image {
			a {
				max-width: 70px;
				max-height: 110px;
				display: block;
			}
		}
		.amount {
			max-width: 70px;
			max-height: 110px;
			display: block;
		}
		.quantity {
			position: relative;
			width: 50px;
			padding-right: 19px;
			display: inline-block;
			top: 1px;
			margin-right: 20px;
			input[type=text] {
				text-align: center;
			}
			input[type=button] {
				padding: 0;
				margin: 0;
				line-height: 15px;
				width: 20px;
				height: 50%;
				position: absolute;
				top: 0;
				right: 0;
				&.minus {
					top: auto;
					bottom: 0;
					border-top: 1px solid #3d3d3d;
				}
			}
		}
		.coupon-code {
			width: 400px;
			max-width: 48%;
			float: left;
			.coupon-text {
				width: 38%;
				margin-right: 10px;
			}
		}
		.update-cart {
			float: right;
		}
	}
}

#shop-cart .cart-total,
#shop-checkout .cart-total,
#shop-checkout .payment-option {
	background: #f5f6f7;
	padding: 30px;
	border-radius: 3px;
	margin-top: 30px;
}

.cart-total table.table-cart tbody td {
	padding: 10px 0;
}

.cart-total table.table-cart tr.total .product-price {
	font-size: 18px;
	color: #33bfd0;
}

#shop-cart .checkout-button {
	float: right;
	margin-top: 20px;
}

#shop-checkout .billing-details,
#shop-checkout .payment-option {
	margin-top: 30px;
}


/*----------------------------------------------

 RELATED ITEMS

 ------------------------------------------------*/

.related-items {
	margin-top: 100px;
	#related-grid {
		margin-top: 60px;
	}
}

/*header-cart*/

#header-cart {
	float: left;
	padding-left: 10px;
	margin-left: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	transition: all .4s ease;
	a#show-cart {
		display: block;
		color: #1a1a1a;
		padding: 0;
		height: 30px;
		line-height: 30px;
		position: relative;
		transition: all .4s ease;
		span {
			position: absolute;
			top: -2px;
			right: -8px;
			width: auto;
			height: 15px;
			background: #33bfd0;
			color: #fff;
			text-align: center;
			line-height: 15px;
			font-size: 9px;
			font-weight: 700;
			border-radius: 10px;
			padding: 0 5px;
			transition: all .4s ease;
		}
	}
	.header-cart-content {
		position: absolute;
		top: 100%;
		right: 0;
		width: 300px;
		background: #fff;
		padding: 20px;
		opacity: 0;
		visibility: hidden;
		transition: all .2s ease .2s;
		transform: translateY(-10px);
		&:after {
			content: "";
			position: absolute;
			top: -1px;
			left: -1px;
			width: calc(100% + 0px);
			height: calc(100% + 0px);
			border: 1px solid rgba(0, 0, 0, .07);
			border-right: none;
			z-index: -1;
		}
	}
	.cart-item-list {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			overflow: hidden;
			margin: 0 0 10px;
			padding: 0 0 10px;
			.cart-item-image {
				width: 50px;
				height: auto;
				float: left;
			}
			.cart-item-desc {
				width: calc(100% - 65px);
				position: relative;
				float: right;
			}
			.product-name {
				font-size: 12px;
				line-height: 17px;
				a {
					.sub-dark & {
						color: #fff;
						&:hover {
							color: #33bfd0;
						}
					}
				}
			}
		}
	}
	.cart-total {
		overflow: hidden;
		border-top: 1px solid rgba(0, 0, 0, .10);
		padding-top: 10px;
		.cart-total-name {
			float: left;
			line-height: 32px;
			.sub-dark & {
				color: #fff;
			}
		}
		.cart-total-amount {
			float: right;
			font-weight: 700;
			color: #33bfd0;
			font-size: 16px;
			line-height: 32px;
		}
	}
	.cart-action {
		overflow: hidden;
		margin-top: 10px;
		.cart-action-cart {
			float: left;
		}
		.cart-action-checkout {
			float: right;
		}
	}
	&:hover {
		>.header-cart-content {
			opacity: 1;
			visibility: visible;
			transform: translateY(0px);
			transition: all .3s ease .2s;
		}
	}
}

#header-cart .cart-item-list li .cart-item-price,
#header-cart .cart-item-list li .cart-item-quantity {
	font-size: 11px;
	line-height: 17px;
	font-weight: 700;
	color: #9c9c9c;
	.sub-dark & {
		color: #8c8c8c;
	}
}