/* Table
 ---------------------------------------------------------------------------- */

table {
	margin-top: 30px;
	border-collapse: collapse;
	/*table-layout: fixed;*/
	width: 100%;
	max-width: 100%;
}

div table:first-child {
	margin-top: 0;
}

table thead th {
	font-family: Montserrat;
	font-weight: 400;
	letter-spacing: -.02em;
	color: #1a1a1a;
	font-size: 13px;
	line-height: 20px;
}

.text-light table thead th {
	color: #fff;
}

table tr {
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

table thead tr {
	border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.text-light table tr {
	border-color: rgba(255, 255, 255, 0.24)!important;
}

table tbody td {
	padding: 10px 0;
}

table tbody tr:first-child td {
	padding-top: 0;
}

table thead+tbody tr:first-child td {
	padding-top: 10px;
}

table thead th {
	padding-bottom: 10px;
}

table thead tr th:last-child,
table tbody tr td:last-child {
	text-align: right;
}

.table-scroll {
	max-width: 100%;
	overflow-y: scroll;
	margin-top: 30px;
	table {
		min-width: 550px;
	}
}

div .table-scroll:first-child {
	margin-top: 0;
}
