/*------------------------------------------------------------------------------

 20. THUMB OVERLAY EFFECT

 ---------------------------------------------------------------------------- */

.thumb-overlay {
	overflow: hidden;
	height: auto;
	display: block;
	width: 100%;
	max-width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
}

.isotope-grid .thumb-overlay,
.owl-carousel .thumb-overlay {
	display: block;
}

.isotope-grid[class*='style-modern'] .isotope-item .thumb-overlay {
	height: 100%;
}

.thumb-overlay:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0;
	transition: all .51s ease;
}

.thumb-overlay.text-light:after {
	background: #000;
}

.thumb-overlay .overlay-caption {
	position: absolute;
	top: 50%;
	left: 30px;
	width: calc(100%-60px);
	padding: 0 10px;
	box-sizing: border-box;
	height: auto;
	transform: translateY(-50%);
	z-index: 1;
}

.thumb-overlay .overlay-caption:not(.align-left):not(.align-right) {
	text-align: center;
}

.thumb-overlay .overlay-caption.caption-bottom {
	top: inherit;
	bottom: 40px;
	transform: translateY(0%);
}

.thumb-overlay .overlay-caption.caption-top {
	top: 40px;
	transform: translateY(0%);
}

.thumb-overlay .overlay-caption hr {
	width: 60px;
	float: none;
	margin-top: 10px;
	opacity: 0.4;
}

.thumb-overlay .overlay-caption:not(.align-left):not(.align-right) hr {
	margin-right: auto;
	margin-left: auto;
}

.thumb-overlay .overlay-caption hr+h1,
.thumb-overlay .overlay-caption hr+h2,
.thumb-overlay .overlay-caption hr+h3,
.thumb-overlay .overlay-caption hr+h4,
.thumb-overlay .overlay-caption hr+h5,
.thumb-overlay .overlay-caption hr+h6 {
	margin-top: 10px;
	transition: all .51s ease;
}


/* general effect */

.thumb-overlay img {
	transition: all .51s ease;
}

.thumb-overlay:hover img,
.shop-item:hover .thumb-overlay img {
	transform: scale(1.1);
}

.isotope-grid[class*='style-modern'] .isotope-item .thumb-overlay:hover img.wide-img {
	transform: translateY(-50%) scale(1.1);
}

.isotope-grid[class*='style-modern'] .isotope-item .thumb-overlay:hover img.tall-img {
	transform: translateX(-50%) scale(1.1);
}


/* hover pic*/

.thumb-overlay img.hover-pic {
	opacity: 0;
	transform: scale(1.1);
	position: absolute;
	top: 0;
	left: 0;
}

.isotope-grid[class*='style-modern'] .isotope-item .thumb-overlay img.hover-pic.wide-img {
	transform: translateY(-50%) scale(1.1);
}

.isotope-grid[class*='style-modern'] .isotope-item .thumb-overlay img.hover-pic.tall-img {
	transform: translateX(-50%) scale(1.1);
}

.thumb-overlay:hover img.hover-pic,
.product-media:hover .thumb-overlay img.hover-pic {
	opacity: 1;
	transform: scale(1);
}

.isotope-grid[class*='style-modern'] .isotope-item .thumb-overlay:hover img.hover-pic.wide-img,
.isotope-grid[class*='style-modern'] .isotope-item .product-media:hover .thumb-overlay img.hover-pic.wide-img {
	transform: translateY(-50%) scale(1);
}

.isotope-grid[class*='style-modern'] .isotope-item .thumb-overlay:hover img.hover-pic.tall-img,
.isotope-grid[class*='style-modern'] .isotope-item .product-media:hover .thumb-overlay img.hover-pic.tall-img {
	transform: translateX(-50%) scale(1);
}

.thumb-overlay .overlay-caption hr {
	margin-top: 0;
	width: 0;
	transition: all .51s ease;
}

.thumb-overlay:hover .overlay-caption hr {
	width: 60px;
	margin-top: 15px;
}

.thumb-overlay:hover .overlay-caption hr+h1,
.thumb-overlay:hover .overlay-caption hr+h2,
.thumb-overlay:hover .overlay-caption hr+h3,
.thumb-overlay:hover .overlay-caption hr+h4,
.thumb-overlay:hover .overlay-caption hr+h5,
.thumb-overlay:hover .overlay-caption hr+h6 {
	margin-top: 15px;
}


/* hidden-on-start */

.thumb-overlay:not(.overlay-effect-3):not(.overlay-effect-4) .overlay-caption.hidden-on-start {
	opacity: 0;
	transition: all .51s ease;
}

.thumb-overlay:not(.overlay-effect-3):not(.overlay-effect-4):hover .overlay-caption.hidden-on-start {
	opacity: 1;
}


/* overlay style 1 */

.thumb-overlay.overlay-effect-1:hover:after {
	opacity: 0.5;
}


/* overlay style 2 */

.thumb-overlay.overlay-effect-2:hover:after {
	opacity: 0.5;
	width: calc(100% - 30px);
	height: calc(100% - 30px);
	left: 15px;
	top: 15px;
}


/* overlay style 3 */

.thumb-overlay.overlay-effect-3 .overlay-caption {
	height: auto;
	padding: 20px;
	width: 100%;
	top: auto;
	bottom: 0;
	left: 0;
	transform: translateY(0%);
	transition: opacity .51s ease;
}

.thumb-overlay.overlay-effect-3 .overlay-caption.caption-top {
	bottom: auto;
	top: 0;
}

.thumb-overlay.overlay-effect-3 .overlay-caption:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(100%+100px);
	z-index: -1;
	transition: opacity .51s ease;
	/*FIX THESE*/
	/*background-image: 0 to(rgba(255, 255, 255, 0.5)));*/
	/*background-image: 0 0 rgba(255, 255, 255, 0.5) 100%);*/
}

.thumb-overlay.overlay-effect-3 .overlay-caption.caption-top:after {
	bottom: auto;
	top: 0;
	/*background-image: 0 to(rgba(255, 255, 255, 0)));*/
	/*background-image: 0 0 rgba(255, 255, 255, 0) 100%);*/
}

.thumb-overlay.overlay-effect-3.text-light .overlay-caption:after {
	/*background-image: 0 to(rgba(0, 0, 0, 0.5)));*/
	/*background-image: 0 0 rgba(0, 0, 0, 0.5) 100%);*/
}

.thumb-overlay.overlay-effect-3.text-light .overlay-caption.caption-top:after {
	/*background-image: 0 to(rgba(0, 0, 0, 0)));*/
	/*background-image: 0 0 rgba(0, 0, 0, 0) 100%);*/
}


/* overlay style 4 */

.thumb-overlay.overlay-effect-4 .overlay-caption {
	height: auto;
	padding: 20px;
	width: 100%;
	top: 100%;
	left: 0;
	transform: translateY(0%);
	transition: transform .31s ease;
}

.thumb-overlay.overlay-effect-4 .overlay-caption:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: -1;
	opacity: 0.7;
}

.thumb-overlay.text-light.overlay-effect-4 .overlay-caption:after {
	background: #000;
}

.thumb-overlay.overlay-effect-4:hover .overlay-caption {
	transform: translateY(-100%);
}