/*----------------------------------------------

 1. BASICS

 ------------------------------------------------*/

html {
	height: 100%;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	/* Prevent iOS text size adjust on orientation change without disabling user zoom */
	-ms-text-size-adjust: 100%;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: .02em;
	font-size: 15px;
	line-height: 26px;
	color: #696969;
	text-align: left;
	position: relative;
	background: #fff;
	min-height: 100%;
}

 ::selection {
	background: #1a1a1a;
	color: #fff;
}


/* Headings
 ---------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Montserrat;
	font-weight: 400;
	letter-spacing: -.02em;
	color: #1a1a1a;
}

.text-light h1,
.text-light h2,
.text-light h3,
.text-light h4,
.text-light h5,
.text-light h6,
h1.text-light,
h2.text-light,
h3.text-light,
h4.text-light,
h5.text-light,
h6.text-light {
	color: #fff;
}

h1 {
	font-size: 72px;
	line-height: 86px;
}

h2 {
	font-size: 48px;
	line-height: 60px;
}

h3 {
	font-size: 34px;
	line-height: 46px;
}

h4 {
	font-size: 24px;
	line-height: 34px;
}

h5 {
	font-size: 17px;
	line-height: 26px;
}

h6 {
	font-size: 13px;
	line-height: 20px;
}

h1 b,
h2 b,
h3 b,
h4 b,
h5 b,
h6 b,
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
	font-weight: 700;
}


/* Headers Spacing */

div h1,
div h2,
div h3,
div h4,
div h5,
div h6 {
	margin-top: 40px;
}

i+h1,
i+h2,
i+h3,
i+h4,
i+h5,
i+h6 {
	margin-top: 20px;
}

div h1:first-child,
div h2:first-child,
div h3:first-child,
div h4:first-child,
div h5:first-child,
div h6:first-child {
	margin-top: 0!important;
}

h1+h1,
h1+h2,
h1+h3,
h1+h4,
h1+h5,
h1+h6,
h2+h1,
h2+h2,
h2+h3,
h2+h4,
h2+h5,
h2+h6,
h3+h1,
h3+h2,
h3+h3,
h3+h4,
h3+h5,
h3+h6,
h4+h1,
h4+h2,
h4+h3,
h4+h4,
h4+h5,
h4+h6,
h5+h1,
h5+h2,
h5+h3,
h5+h4,
h5+h5,
h5+h6,
h6+h1,
h6+h2,
h6+h3,
h6+h4,
h6+h5,
h6+h6 {
	margin-top: 22px;
}

h2+h3,
h2+h4,
h2+h5,
h2+h6,
h6+h2,
h5+h2,
h4+h2,
h3+h2 {
	margin-top: 16px;
}

h3+h4,
h3+h5,
h3+h6,
h4+h3,
h5+h3,
h6+h3 {
	margin-top: 13px;
}

h4+h5,
h4+h6,
h5+h4,
h6+h4 {
	margin-top: 9px;
}

h5+h5,
h5+h6,
h6+h5,
h6+h6 {
	margin-top: 6px;
}

[class*='subtitle'] {
	opacity: 0.7;
}

.subtitle-1 {
	font-family: Lato;
	font-weight: 300;
	letter-spacing: .03em;
}

.subtitle-1 b,
.subtitle-1 strong {
	font-weight: 600;
}

.subtitle-2 {
	font-family: Lora;
	font-weight: 400;
	font-style: italic;
	text-transform: none;
	letter-spacing: .03em;
}

.subtitle-2 b,
.subtitle-2 strong {
	font-weight: 700;
}

.error-404 {
	font-size: 124px;
	line-height: 140px;
}

.uppercase {
	text-transform: uppercase;
	letter-spacing: .06em;
}


/* headings with link */

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: #1a1a1a;
	transition: all 200ms ease;
}

.text-light h1 a,
.text-light h2 a,
.text-light h3 a,
.text-light h4 a,
.text-light h5 a,
.text-light h6 a {
	color: #fff;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	color: #33bfd0;
}


/* Forms
 ---------------------------------------- */

 ::-webkit-input-placeholder {
	color: #1a1a1a;
}

 :-moz-placeholder {
	color: #1a1a1a;
}

 ::-moz-placeholder {
	color: #1a1a1a;
}

 :-ms-input-placeholder {
	color: #1a1a1a;
}

.text-light ::-webkit-input-placeholder {
	color: #fff;
}

.text-light :-moz-placeholder {
	color: #fff;
}

.text-light ::-moz-placeholder {
	color: #fff;
}

.text-light :-ms-input-placeholder {
	color: #fff;
}

input[type=text],
input[type=password],
input[type=email],
textarea {
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	background: #fff;
	border: 1px solid #e0e0e0;
	line-height: 22px;
	height: 22px;
	color: #1a1a1a;
	padding: 10px;
	transition: all 200ms ease;
	border-radius: 0;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	resize: none;
}

.text-light input[type=text],
.text-light input[type=password],
.text-light input[type=email],
.text-light textarea {
	border-color: #3d3d3d;
	color: #fff;
	background: #0f0f0f;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus {
	border-color: #1a1a1a;
}

.text-light input[type=text]:focus,
.text-light input[type=password]:focus,
.text-light input[type=email]:focus,
.text-light textarea:focus {
	border-color: #fff;
}

input.false[type=text],
input.false[type=password]:focus,
input.false[type=email],
textarea.false {
	border-color: #fa4d5a;
}

input[type=text],
input[type=password],
input[type=email] {
	width: 100%;
	max-width: calc(100% - 22px);
}

textarea {
	width: 100%;
	min-height: 100px;
	max-width: calc(100% - 22px);
}

input[type=submit],
input[type=button],
button {
	cursor: pointer;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	display: inline-block;
	font-family: Lato;
	font-weight: 700;
	font-size: 11px;
	line-height: 22px;
	letter-spacing: .1em;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 5px;
	transition: all .2s ease;
	color: #fff;
	padding: 10px 40px;
	background: #1a1a1a;
	border: none;
	position: relative;
	top: -1px;
}

.text-light input[type=submit],
.text-light input[type=button],
.text-light button {
	background: #fff;
	color: #1a1a1a;
}

input[type=submit]:hover,
input[type=button]:hover,
button:hover {
	background: #33bfd0;
	color: #fff;
}

select {
	background: #fff;
	border: 1px solid #e0e0e0;
	font-family: Montserrat;
	font-size: 11px;
	font-weight: 400;
	height: 44px;
	width: auto;
	padding: 8px;
	color: #1a1a1a;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	min-width: 120px;
	background-image: url(../assets/select-arrow.png);
	background-position: center right;
	background-repeat: no-repeat;
	-webkit-background-size: 16px 6px;
	-moz-background-size: 16px 6px;
	-o-background-size: 16px 6px;
	background-size: 16px 6px;
}

select.full-width {
	width: 100%;
	max-width: 100%;
}

select:focus {
	border-color: #1a1a1a;
}

.text-light select {
	border-color: #3d3d3d;
	color: #fff;
	background: #0f0f0f;
	background-image: url(../assets/select-arrow-light.png);
}

.text-light select:focus {
	border-color: #fff;
}

select option {
	cursor: pointer;
	padding: 5px 7px;
}

label {
	font-family: Montserrat;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: -.02em;
	width: 100%;
	color: #1a1a1a;
	display: block;
}

.text-light label {
	color: #fff;
}

.form-row.false label {
	color: #fa4d5a;
}

label abbr {
	color: #33bfd0;
	text-decoration: none;
}

input[type=radio]+label,
input[type=checkbox]+label {
	display: inline-block;
	width: auto;
	margin-left: 5px;
}

form {
	margin-top: 30px;
}

form .form-row {
	margin-top: 20px;
	position: relative;
}

form .form-row.one-half:nth-child(2),
form .form-row.two-third:nth-child(2),
form .form-row.one-third:nth-child(2),
form .form-row.one-third:nth-child(3),
form .form-row.one-fourth:nth-child(2),
form .form-row.one-fourth:nth-child(3),
form .form-row.one-fourth:nth-child(4) {
	margin-top: 0;
}

.form-row.hidden {
	display: none;
}

form .form-submit {
	margin-top: 30px;
}

div form:first-child,
form .form-row:first-child,
div[class*='spacer-']+form {
	margin-top: 0;
}


/* Chech formular */

.check-error input[type=text],
.check-error input[type=password],
.check-error input[type=email],
.check-error textarea,
input[type=text].check-error,
input[type=password].check-error,
input[type=email].check-error,
textarea.check-error {
	border-color: #ff4b14;
}

.form-note {
	display: none;
}


/* Table
 ---------------------------------------- */

table {
	margin-top: 30px;
	border-collapse: collapse;
	/*table-layout: fixed;*/
	width: 100%;
	max-width: 100%;
}

div table:first-child {
	margin-top: 0;
}

table thead th {
	font-family: Montserrat;
	font-weight: 400;
	letter-spacing: -.02em;
	color: #1a1a1a;
	font-size: 13px;
	line-height: 20px;
}

.text-light table thead th {
	color: #fff;
}

table tr {
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

table thead tr {
	border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.text-light table tr {
	border-color: rgba(255, 255, 255, 0.24)!important;
}

table tbody td {
	padding: 10px 0;
}

table tbody tr:first-child td {
	padding-top: 0;
}

table thead+tbody tr:first-child td {
	padding-top: 10px;
}

table thead th {
	padding-bottom: 10px;
}

table thead tr th:last-child,
table tbody tr td:last-child {
	text-align: right;
}

.table-scroll {
	max-width: 100%;
	overflow-y: scroll;
	margin-top: 30px;
}

div .table-scroll:first-child {
	margin-top: 0;
}

.table-scroll table {
	min-width: 550px;
}


/* Links
 ---------------------------------------- */

a {
	text-decoration: none;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
	color: #33bfd0;
}

a:hover {
	color: #1a1a1a;
}

.text-light a:hover {
	color: #fff;
}


/* Embedded content
 ---------------------------------------- */

img,
object,
video,
audio {
	max-width: 100%;
	height: auto;
	display: inline-block;
	margin: 0;
	vertical-align: top;
}

img {
	width: auto;
	max-width: 100%;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

p img {
	margin-top: 20px;
}

p img:first-child {
	margin-top: 0;
}

img.alignleft {
	margin: 3px 20px 20px 0;
	float: left;
}

img.alignright {
	margin: 3px 0 20px 20px;
	float: right;
}

p+video,
p+audio {
	margin-top: 20px;
}


/* Lists
 ---------------------------------------- */

ul {
	margin-top: 20px;
	margin-left: 15px;
	list-style: disc;
}

ul.no-list-style {
	list-style: none;
	margin-left: 0;
}

div ul:first-child,
li ul:first-child {
	margin-top: 0;
}

ol {
	margin-top: 20px;
	margin-left: 30px;
	list-style: decimal;
}

div ol:first-child,
li ol:first-child {
	margin-top: 0;
}

ul li,
ol li {
	margin-top: 10px;
}

ul li:first-child,
ol li:first-child {
	margin-top: 0;
}


/* Others
 ---------------------------------------- */

p {
	margin-top: 20px;
}

div p:first-child {
	margin-top: 0;
}

strong,
b,
dt {
	font-weight: 600;
}

i,
dfn,
em {
	font-style: italic;
}

strong i,
b i,
dt i,
strong em,
b em,
dt em {
	font-style: italic;
	font-weight: 700;
}

blockquote {
	font-family: Lora, Georgia;
	font-weight: 400;
	font-style: italic;
	text-align: center;
	margin: 40px;
	font-size: 26px;
	line-height: 34px;
	letter-spacing: .03em;
	color: #1a1a1a;
	position: relative;
	padding-top: 60px;
}

.text-light blockquote,
blockquote.text-light {
	color: #fff;
}

div blockquote:first-child {
	margin-top: 0;
}

div blockquote:last-child {
	margin-bottom: 0;
}

blockquote:before {
	content: "\f347";
	font-family: Ionicons;
	font-style: normal;
	font-size: 14px;
	line-height: 38px;
	width: 38px;
	height: 38px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -19px;
	border-radius: 30px;
	border: 2px solid rgba(0, 0, 0, .25);
}

.text-light blockquote:before,
blockquote.text-light :before {
	border: 2px solid rgba(255, 255, 255, .4);
}

blockquote cite {
	display: block;
	margin-top: 20px;
	color: #000;
	font-size: 13px;
	line-height: 20px;
	font-family: Montserrat;
	font-weight: 400;
	font-style: normal;
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}

.text-light blockquote cite,
blockquote.text-light cite {
	color: #fff;
}

blockquote figure {
	margin: 20px auto 0;
	width: 80px;
	height: 80px;
	border-radius: 60px;
	overflow: hidden;
	text-align: center;
}

blockquote p {
	margin: 0;
}

pre {
	padding: 20px;
	margin-top: 20px;
	font-size: 13px;
	line-height: 18px;
	background: #1a1a1a;
	color: #c9c9c9;
	display: block;
	border-radius: 3px;
}

div pre:first-child {
	margin-top: 0;
}

code {
	padding: 0 7px 0 5px;
	display: inline-block;
	border-radius: 3px;
	background: #d9d9d9;
	color: #1a1a1a;
	font-size: 12px;
	line-height: 18px;
	position: relative;
	top: -1px;
	font-style: italic;
}

small {
	color: #9c9c9c;
	font-size: 10px;
	line-height: 17px;
	font-family: Montserrat;
	font-weight: 300;
}

small b,
small strong {
	font-weight: 700;
}

.text-light small {
	color: #fff;
}