.column-section {
	margin-top: 40px;
	.column:first-child {
		margin-left: 40px;
	}
	&.rounded .column {
		border-radius: 8px;
	}
	&.boxed-sticky.rounded .column {
		&:first-child {
			border-radius: 8px 0 0 8px;
		}
		&:last-child {
			border-radius: 0 8px 8px 0;
		}
		&:not(.accent-table) {
			border-radius: 0;
		}
	}
	&.bordered-sticky.rounded .column {
		&:first-child {
			border-radius: 8px 0 0 8px;
		}
		&:last-child {
			border-radius: 0 8px 8px 0;
		}
		&:not(.accent-table) {
			border-radius: 0;
		}
	}
}
.column {
	float: left;
	margin-right: 40px;
	min-height: 1px;
	&.nopadding {
		padding: 0 !important;
	}
	&.notoppadding {
		padding-top: 0 !important;
	}
	&.nobottompadding {
		padding-bottom: 0 !important;
	}
	&.bigpadding {
		padding: 5em;
	}
	&:last-child {
		margin-right: 0 !important;
	}
}
.wrapper {
	.one-full {
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.one-half {
		width: calc(50% - 20px);
	}
	.one-third {
		width: calc(33.33% - 26.66px);
	}
	.two-third {
		width: calc(66.6% - 13.33px);
	}
	.one-fourth {
		width: calc(25% - 30px);
	}
	.two-fourth {
		width: calc(50% - 20px);
	}
	.three-fourth {
		width: calc(75% - 10px);
	}
	.one-fifth {
		width: calc(20% - 32px);
	}
	.two-fifth {
		width: calc(40% - 24px);
	}
	.three-fifth {
		width: calc(60% - 16px);
	}
	.four-fifth {
		width: calc(80% - 8px);
	}
	.one-sixth {
		width: calc(16.66% - 33.33px);
	}
	.two-sixth {
		width: calc(33.33% - 26.66px);
	}
	.three-sixth {
		width: calc(50% - 20px);
	}
	.four-sixth {
		width: calc(66.66% - 13.33px);
	}
	.five-sixth {
		width: calc(83.33% - 6.66px);
	}
	.column-section .column:first-child {
		margin-left: 0;
	}
	.bordered-sticky .column {
		&:first-child {
			border-left: 1px solid rgba(0, 0, 0, 0.15);
			border-left: 1px solid rgba(0, 0, 0, 0.15);
		}
		&:last-child {
			border-right: 1px solid rgba(0, 0, 0, 0.15);
		}
	}
	.text-light .bordered-sticky .column {
		&:first-child {
			border-left: 1px solid rgba(255, 255, 255, 0.22);
		}
		&:last-child {
			border-right: 1px solid rgba(255, 255, 255, 0.22);
		}
	}
}
.wrapper-small {
	.one-full {
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.one-half {
		width: calc(50% - 20px);
	}
	.one-third {
		width: calc(33.33% - 26.66px);
	}
	.two-third {
		width: calc(66.6% - 13.33px);
	}
	.one-fourth {
		width: calc(25% - 30px);
	}
	.two-fourth {
		width: calc(50% - 20px);
	}
	.three-fourth {
		width: calc(75% - 10px);
	}
	.one-fifth {
		width: calc(20% - 32px);
		width: calc(16.66% - 33.33px);
	}
	.two-fifth {
		width: calc(40% - 24px);
		width: calc(33.33% - 26.66px);
	}
	.three-fifth {
		width: calc(60% - 16px);
		width: calc(50% - 20px);
	}
	.four-fifth {
		width: calc(80% - 8px);
		width: calc(66.66% - 13.33px);
	}
	.five-fifth {
		width: calc(83.33% - 6.66px);
	}
	.column-section .column:first-child {
		margin-left: 0;
	}
	.bordered-sticky .column {
		&:first-child {
			border-left: 1px solid rgba(0, 0, 0, 0.15);
		}
		&:last-child {
			border-right: 1px solid rgba(0, 0, 0, 0.15);
		}
	}
	.text-light .bordered-sticky .column {
		&:first-child {
			border-left: 1px solid rgba(255, 255, 255, 0.22);
		}
		&:last-child {
			border-right: 1px solid rgba(255, 255, 255, 0.22);
		}
	}
}
.boxed-sticky {
	margin-top: 0;
	.column {
		background: #f5f6f7;
		padding: 30px;
		box-sizing: border-box;
		margin-left: 0;
		margin-right: 0;
		&:first-child {
			margin-left: 0;
			margin-right: 0;
		}
	}
	.one-full {
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.one-half {
		width: 50%;
	}
	.one-third {
		width: 33.33%;
	}
	.two-third {
		width: 66.6%;
	}
	.one-fourth {
		width: 25%;
	}
	.two-fourth {
		width: 50%;
	}
	.three-fourth {
		width: 75%;
	}
	.one-fifth {
		width: 20%;
	}
	.two-fifth {
		width: 40%;
	}
	.three-fifth {
		width: 60%;
	}
	.four-fifth {
		width: 80%;
	}
}
.bordered-sticky {
	margin-top: 0;
	.column {
		background: #f5f6f7;
		padding: 30px;
		box-sizing: border-box;
		border: 1px solid rgba(0, 0, 0, 0.15);
		background: none;
		border-right: none;
		margin-left: 0;
		margin-right: 0;
		&:first-child {
			border-left: none;
			margin-left: 0;
			margin-right: 0;
		}
	}
	.one-full {
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.one-half {
		width: 50%;
	}
	.one-third {
		width: 33.33%;
	}
	.two-third {
		width: 66.6%;
	}
	.one-fourth {
		width: 25%;
	}
	.two-fourth {
		width: 50%;
	}
	.three-fourth {
		width: 75%;
	}
	.one-fifth {
		width: 20%;
	}
	.two-fifth {
		width: 40%;
	}
	.three-fifth {
		width: 60%;
	}
	.four-fifth {
		width: 80%;
	}
	+ .bordered-sticky .column {
		border-top: none;
	}
}
.text-light {
	.boxed-spaced .column {
		background: #0f0f0f;
	}
	.boxed-sticky .column {
		background: #0f0f0f;
	}
	.bordered-spaced .column {
		border-color: rgba(255, 255, 255, 0.22);
	}
	.bordered-sticky .column {
		border-color: rgba(255, 255, 255, 0.22);
	}
	.wrapper .bordered-sticky .column {
		&:first-child {
			border-left: 1px solid rgba(255, 255, 255, 0.22);
		}
		&:last-child {
			border-right: 1px solid rgba(255, 255, 255, 0.22);
		}
	}
	.wrapper-small .bordered-sticky .column {
		&:first-child {
			border-left: 1px solid rgba(255, 255, 255, 0.22);
		}
		&:last-child {
			border-right: 1px solid rgba(255, 255, 255, 0.22);
		}
	}
}
.one-full {
	width: calc(100% - 80px);
	float: none;
	margin-right: 0;
}
.one-half {
	width: calc(50% - 60px);
}
.one-third {
	width: calc(33.33% - 53.33px);
}
.two-third {
	width: calc(66.66% - 66.66px);
}
.one-fourth {
	width: calc(25% - 50px);
}
.two-fourth {
	width: calc(50% - 60px);
}
.three-fourth {
	width: calc(75% - 70px);
}
.one-fifth {
	width: calc(20% - 48px);
}
.two-fifth {
	width: calc(40% - 56px);
}
.three-fifth {
	width: calc(60% - 64px);
}
.four-fifth {
	width: calc(80% - 72px);
}
.one-sixth {
	width: calc(16.66% - 46.66px);
}
.two-sixth {
	width: calc(33.33% - 53.33px);
}
.three-sixth {
	width: calc(50% - 60px);
}
.four-sixth {
	width: calc(66.66% - 66.66px);
}
.five-sixth {
	width: calc(83.33% - 73.33px);
}
.col-content {
	*display: inline-block;
	height: 1%;
	overflow: hidden;
	&:after {
		content: "";
		display: block;
		clear: both;
		visibility: hidden;
		font-size: 0;
		height: 0;
	}
}
div .column-section:first-child {
	margin-top: 0;
}
.boxed-spaced .column {
	background: #f5f6f7;
	padding: 30px;
	box-sizing: border-box;
}
.bordered-spaced .column {
	background: #f5f6f7;
	padding: 30px;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background: none;
}
h1 + .column-section {
	&.bordered-sticky {
		margin-top: 40px;
	}
	&.boxed-sticky {
		margin-top: 40px;
	}
}
h2 + .column-section {
	&.bordered-sticky {
		margin-top: 40px;
	}
	&.boxed-sticky {
		margin-top: 40px;
	}
}
h3 + .column-section {
	&.bordered-sticky {
		margin-top: 40px;
	}
	&.boxed-sticky {
		margin-top: 40px;
	}
}
h4 + .column-section {
	&.bordered-sticky {
		margin-top: 40px;
	}
	&.boxed-sticky {
		margin-top: 40px;
	}
}
h5 + .column-section {
	&.bordered-sticky {
		margin-top: 40px;
	}
	&.boxed-sticky {
		margin-top: 40px;
	}
}
h6 + .column-section {
	&.bordered-sticky {
		margin-top: 40px;
	}
	&.boxed-sticky {
		margin-top: 40px;
	}
}
separator + .column-section {
	&.bordered-sticky {
		margin-top: 40px;
	}
	&.boxed-sticky {
		margin-top: 40px;
	}
}