/*----------------------------------------------

 18. FULLWIDTH SECTION

 ------------------------------------------------*/

.fullwidth-section .fullwidth-content {
	padding: 100px 0;
}

.fullwidth-section.notoppadding .fullwidth-content {
	padding-top: 0;
}

.fullwidth-section.nobottompadding .fullwidth-content {
	padding-bottom: 0;
}

header.header-transparent+#page-body .fullwidth-section:first-child::before {
	content: "";
	display: inline-block;
}

header.header-transparent+#page-body .fullwidth-section:first-child .fullwidth-content {
	padding-top: 60px;
}

.fullwidth-section.fullheight {
	min-height: 0;
	min-height: 0;
	min-height: calc(100vh - 60px);
}

header.header-transparent+#page-body .fullwidth-section.fullheight:first-child,
#page-content #page-body:first-child .fullwidth-section.fullheight {
	min-height: 100vh;
}

header:not(.header-transparent)+#page-body .fullwidth-section.fullheight:first-child {
	min-height: calc(100vh - 90px);
}