
/*----------------------------------------------

16. ISOTOPE GRID & GALLERY LIST & CAROUSEL (options)

------------------------------------------------*/

.isotope-grid {
	width: calc(100% + 1px);
	overflow: hidden;
}

.wrapper .isotope-grid {
	width: 100%;
}

.isotope-grid[class*='isotope-spaced'] {
	width: calc(100% - 50px);
	margin: 0 auto;
	left: 15px;
}

.wrapper .isotope-grid[class*='isotope-spaced'] {
	width: calc(100% + 30px);
	left: 0;
	margin: 0;
}

.isotope-grid.portfolio-container[class*='isotope-spaced'] {
	margin-top: 30px;
}

.filter:not(.filter-grey):not(.filter-dark)+.isotope-grid.portfolio-container[class*='isotope-spaced'] {
	margin-top: 0px;
}

.isotope-grid.isotope-spaced-mini {
	width: calc(100% - 3px);
	left: 1px;
}

.wrapper .isotope-grid.isotope-spaced-mini {
	width: calc(100% + 1px);
	left: 0;
}

.isotope-grid .isotope-item {
	margin-right: 0px;
	margin-bottom: 0px;
	float: left;
	overflow: hidden;
	position: relative;
}

.isotope-grid[class*='isotope-spaced'] .isotope-item {
	margin-bottom: 30px;
	margin-right: 30px;
}

.isotope-grid[class*='isotope-spaced'] .grid-sizer {
	margin-right: 30px;
}

.isotope-grid.isotope-spaced-mini .isotope-item {
	margin-bottom: 2px;
	margin-right: 2px;
}

.isotope-grid.isotope-spaced-mini .grid-sizer {
	margin-right: 2px;
}


/* style column */

.isotope-grid .isotope-item,
.isotope-grid .grid-sizer {
	width: 25%;
}

.isotope-grid[class*='isotope-spaced'] .isotope-item,
.isotope-grid[class*='isotope-spaced'] .grid-sizer {
	width: calc(50% - 30px);
}

.isotope-grid.isotope-spaced-mini .isotope-item,
.isotope-grid.isotope-spaced-mini .grid-sizer {
	width: calc(50% - 1px);
}

.isotope-grid.style-column-2 .isotope-item,
.isotope-grid.style-column-2 .grid-sizer {
	width: 50%;
}

.isotope-grid.style-column-3 .isotope-item,
.isotope-grid.style-column-3 .grid-sizer {
	width: 33.33%;
}

.isotope-grid.style-column-4 .isotope-item,
.isotope-grid.style-column-4 .grid-sizer {
	width: 25%;
}

.isotope-grid.style-column-5 .isotope-item,
.isotope-grid.style-column-5 .grid-sizer {
	width: 20%;
}

.isotope-grid.style-column-2[class*='isotope-spaced'] .isotope-item,
.isotope-grid.style-column-2[class*='isotope-spaced'] .grid-sizer {
	width: calc(50% - 30px);
}

.isotope-grid.style-column-3[class*='isotope-spaced'] .isotope-item,
.isotope-grid.style-column-3[class*='isotope-spaced'] .grid-sizer {
	width: calc(33.33% - 30px);
}

.isotope-grid.style-column-4[class*='isotope-spaced'] .isotope-item,
.isotope-grid.style-column-4[class*='isotope-spaced'] .grid-sizer {
	width: calc(25% - 30px);
}

.isotope-grid.style-column-5[class*='isotope-spaced'] .isotope-item,
.isotope-grid.style-column-5[class*='isotope-spaced'] .grid-sizer {
	width: calc(20% - 30px);
}

.isotope-grid.style-column-2.isotope-spaced-mini .isotope-item,
.isotope-grid.style-column-2.isotope-spaced-mini .grid-sizer {
	width: calc(50% - 2px);
}

.isotope-grid.style-column-3.isotope-spaced-mini .isotope-item,
.isotope-grid.style-column-3.isotope-spaced-mini .grid-sizer {
	width: calc(33.33% - 2px);
}

.isotope-grid.style-column-4.isotope-spaced-mini .isotope-item,
.isotope-grid.style-column-4.isotope-spaced-mini .grid-sizer {
	width: calc(25% - 2px);
}

.isotope-grid.style-column-5.isotope-spaced-mini .isotope-item,
.isotope-grid.style-column-5.isotope-spaced-mini .grid-sizer {
	width: calc(20% - 2px);
}


/* style modern */

.isotope-grid[class*='style-modern'] .isotope-item,
.isotope-grid[class*='style-modern'] .grid-sizer {
	width: 25%;
}

.isotope-grid[class*='style-modern'] .isotope-item.wide,
.isotope-grid[class*='style-modern'] .isotope-item.wide-tall {
	width: 50%;
}

.isotope-grid.style-modern-3 .isotope-item,
.isotope-grid.style-modern-3 .grid-sizer {
	width: 33.33%;
}

.isotope-grid.style-modern-3 .isotope-item.wide,
.isotope-grid.style-modern-3 .isotope-item.wide-tall {
	width: 66.66%;
}

.isotope-grid.style-modern-5 .isotope-item,
.isotope-grid.style-modern-5 .grid-sizer {
	width: 20%;
}

.isotope-grid.style-modern-5 .isotope-item.wide,
.isotope-grid.style-modern-5 .isotope-item.wide-tall {
	width: 40%;
}

.isotope-grid[class*='isotope-spaced'][class*='style-modern'] .isotope-item,
.isotope-grid[class*='isotope-spaced'][class*='style-modern'] .grid-sizer {
	width: calc(25% - 30px);
}

.isotope-grid[class*='isotope-spaced'][class*='style-modern'] .isotope-item.wide,
.isotope-grid[class*='isotope-spaced'][class*='style-modern'] .isotope-item.wide-tall {
	width: calc(50% - 30px);
}

.isotope-grid.style-modern-3[class*='isotope-spaced'] .isotope-item,
.isotope-grid.style-modern-3[class*='isotope-spaced'] .grid-sizer {
	width: calc(33.33% - 30px);
}

.isotope-grid.style-modern-3[class*='isotope-spaced'] .isotope-item.wide,
.isotope-grid.style-modern-3[class*='isotope-spaced'] .isotope-item.wide-tall {
	width: calc(66.66% - 30px);
}

.isotope-grid.style-modern-5[class*='isotope-spaced'] .isotope-item,
.isotope-grid.style-modern-5[class*='isotope-spaced'] .grid-sizer {
	width: calc(20% - 30px);
}

.isotope-grid.style-modern-5[class*='isotope-spaced'] .isotope-item.wide,
.isotope-grid.style-modern-5[class*='isotope-spaced'] .isotope-item.wide-tall {
	width: calc(40% - 30px);
}

.isotope-grid[class*='style-modern'] .portfolio-media,
.isotope-grid[class*='style-modern'] .blog-media {
	width: calc(100% + 2px);
	height: calc(100% + 2px);
	left: -1px;
	top: -1px;
	position: relative;
}

.isotope-grid[class*='style-modern'] .isotope-item img {
	position: absolute;
	left: 0;
	top: 0;
	max-width: none;
}

.isotope-grid[class*='style-modern'] .isotope-item img.wide-img {
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

.isotope-grid[class*='style-modern'] .isotope-item img.tall-img {
	width: auto;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
}


/* gallery */

ul.gallery-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.gallery-list.gallery-spaced {
	margin-top: 40px;
}

div ul.gallery-list.gallery-spaced:first-child {
	margin-top: 0px;
}

ul.gallery-list li {
	margin: 0;
	padding: 0;
	text-align: center;
}

ul.gallery-list.gallery-spaced li {
	margin-top: 40px;
}

ul.gallery-list.gallery-spaced li:first-child {
	margin-top: 0px;
}


/* carousel */

.owl-carousel.owl-spaced {
	left: 40px;
	width: calc(100% - 80px);
}

.wrapper .owl-carousel.owl-spaced {
	width: 100%;
	left: inherit;
}