/*----------------------------------------------

 22. WIDGETS

 ------------------------------------------------*/

.widget {
	margin-top: 60px;
}

footer .widget {
	margin-top: 40px;
}

footer .one-full .widget {
	margin-top: 30px;
}

div .widget:first-child {
	margin-top: 0;
}

.widget .widget-title {
	position: relative;
	padding-bottom: 20px;
}

.widget .widget-title:after {
	content: "";
	width: 36px;
	height: 2px;
	background: #000;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0.15;
	filter: alpha(opacity=15);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
}

.text-light .widget .widget-title:after {
	background: #fff;
	opacity: 0.2;
	filter: alpha(opacity=20);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
}

.align-center .widget .widget-title:after,
.widget.align-center .widget-title:after {
	left: 50%;
	margin-left: -18px;
}

.align-right .widget .widget-title:after,
.widget.align-right .widget-title:after {
	left: inherit;
	right: 0;
}


/* Text Widget
 -------------------------------- */

.widget_text p {
	font-size: 14px;
	line-height: 22px;
}


/* Menu Widget
 -------------------------------- */

.widget ul:not(.socialmedia-widget) {
	list-style: none;
	padding: 0;
	margin-left: 0;
}

.widget ul:not(.socialmedia-widget):not(.product-list) li a {
	color: #696969;
	font-family: Montserrat;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	display: block;
	letter-spacing: .04em;
	transition: color .2s ease;
}

.text-light .widget ul:not(.socialmedia-widget):not(.product-list) li a {
	color: rgba(255, 255, 255, .80);
}

.widget ul:not(.socialmedia-widget):not(.product-list) li a:hover {
	color: #33bfd0;
}

.one-full .widget_menu ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}

.align-center .one-full .widget_menu ul li,
.one-full.align-center .widget_menu ul li {
	margin: 0 10px;
}

.align-right .one-full .widget_menu ul li,
.one-full.align-right .widget_menu ul li {
	margin: 0 0 0 20px;
}


/*	Social Widget

 ------------------------------------------------*/

.socialmedia-widget {
	margin: 20px 0 0;
	padding: 0;
	list-style: none;
}

.socialmedia-widget.align-center,
.align-center .socialmedia-widget {
	text-align: center;
}

div .socialmedia-widget:first-child {
	margin: 0;
}

.socialmedia-widget li {
	display: inline-block;
	margin: 0 14px 0 0;
	position: relative;
}

.socialmedia-widget li:last-child {
	margin-right: 0;
}

.align-center .socialmedia-widget li {
	margin-right: -5px;
	padding: 0 10px;
}

.align-center .socialmedia-widget[class*='style-'] li {
	margin-right: -5px;
	padding: 0;
}

.align-right .socialmedia-widget li,
.right-float .socialmedia-widget li {
	margin-left: 14px;
	margin-right: 0;
}

.align-right .socialmedia-widget li:first-child,
.right-float .socialmedia-widget li:first-child {
	margin-left: 0;
}

.socialmedia-widget li a {
	font: normal normal normal 12px/1 FontAwesome;
	font-size: 16px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 20px;
	color: #1a1a1a;
	/*transition: all 0.2s ease;*/
	display: block;
	text-align: center;
}

.text-light .socialmedia-widget li a {
	color: #fff;
}

.socialmedia-widget li.facebook a:before,
.socialmedia-widget li.facebook a:after {
	content: "\f09a";
}

.socialmedia-widget li.twitter a:before,
.socialmedia-widget li.twitter a:after {
	content: "\f099";
}

.socialmedia-widget li.tumblr a:before,
.socialmedia-widget li.tumblr a:after {
	content: "\f173";
}

.socialmedia-widget li.vimeo a:before,
.socialmedia-widget li.vimeo a:after {
	content: "\f194";
}

.socialmedia-widget li.dribbble a:before,
.socialmedia-widget li.dribbble a:after {
	content: "\f17d";
}

.socialmedia-widget li.deviantart a:before,
.socialmedia-widget li.deviantart a:after {
	content: "\f1bd";
}

.socialmedia-widget li.behance a:before,
.socialmedia-widget li.behance a:after {
	content: "\f1b4";
}

.socialmedia-widget li.flickr a:before,
.socialmedia-widget li.flickr a:after {
	content: "\f16e";
}

.socialmedia-widget li.linkedin a:before,
.socialmedia-widget li.linkedin a:after {
	content: "\f0e1";
}

.socialmedia-widget li.rss a:before,
.socialmedia-widget li.rss a:after {
	content: "\f09e";
}

.socialmedia-widget li.googleplus a:before,
.socialmedia-widget li.googleplus a:after {
	content: "\f0d5";
}

.socialmedia-widget li.pinterest a:before,
.socialmedia-widget li.pinterest a:after {
	content: "\f0d2";
}

.socialmedia-widget li.youtube a:before,
.socialmedia-widget li.youtube a:after {
	content: "\f167";
}

.socialmedia-widget li.mail a:before,
.socialmedia-widget li.mail a:after {
	content: "\f0e0";
}

.socialmedia-widget li.instagram a:before,
.socialmedia-widget li.instagram a:after {
	content: "\f16d";
}

.socialmedia-widget li.xing a:before,
.socialmedia-widget li.xing a:after {
	content: "\f168";
}

.socialmedia-widget li.dropbox a:before,
.socialmedia-widget li.dropbox a:after {
	content: "\f16b";
}

.socialmedia-widget li.stumbleupon a:before,
.socialmedia-widget li.stumbleupon a:after {
	content: "\f1a4";
}

.socialmedia-widget li.delicious a:before,
.socialmedia-widget li.delicious a:after {
	content: "\f1a5";
}

.socialmedia-widget li.wordpress a:before,
.socialmedia-widget li.wordpress a:after {
	content: "\f19a";
}

.socialmedia-widget li.vk a:before,
.socialmedia-widget li.vk a:after {
	content: "\f189";
}

.socialmedia-widget li.soundcloud a:before,
.socialmedia-widget li.soundcloud a:after {
	content: "\f1be";
}

.socialmedia-widget li.spotify a:before,
.socialmedia-widget li.spotify a:after {
	content: "\f1bc";
}

.socialmedia-widget li.codepen a:before,
.socialmedia-widget li.codepen a:after {
	content: "\f1cb";
}

.socialmedia-widget li.github a:before,
.socialmedia-widget li.github a:after {
	content: "\f09b";
}

.socialmedia-widget li.lastfm a:before,
.socialmedia-widget li.lastfm a:after {
	content: "\f202";
}

.socialmedia-widget li.jsfiddle a:before,
.socialmedia-widget li.jsfiddle a:after {
	content: "\f1cc";
}

.socialmedia-widget li.mixcloud a:before,
.socialmedia-widget li.mixcloud a:after {
	content: "\f289";
}

.socialmedia-widget li.skype a:before,
.socialmedia-widget li.skype a:after {
	content: "\f17e";
}

.socialmedia-widget li a:after {
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}


/* sizes */

.socialmedia-widget.size-medium li a {
	font-size: 22px;
	line-height: 26px;
}

.socialmedia-widget.size-big li a {
	font-size: 28px;
	line-height: 32px;
}

.socialmedia-widget.size-huge li a {
	font-size: 40px;
	line-height: 44px;
}

.socialmedia-widget.size-medium li {
	margin-right: 20px;
}

.align-center .socialmedia-widget.size-medium li {
	margin-right: -5px;
	padding: 0 15px;
}

.align-right .socialmedia-widget.size-medium li {
	margin-left: 20px;
	margin-right: 0;
}

.socialmedia-widget.size-big li {
	margin-right: 25px;
}

.align-center .socialmedia-widget.size-big li {
	margin-right: -5px;
	padding: 0 20px;
}

.align-right .socialmedia-widget.size-big li {
	margin-left: 25px;
	margin-right: 0;
}

.socialmedia-widget.size-huge li {
	margin-right: 30px;
}

.align-center .socialmedia-widget.size-huge li {
	margin-right: -5px;
	padding: 0 25px;
}

.align-right .socialmedia-widget.size-huge li {
	margin-left: 30px;
	margin-right: 0;
}


/* styles */

.socialmedia-widget[class*='style-'] li a:before,
.socialmedia-widget[class*='style-'] li a:after {
	width: 40px;
	line-height: 40px;
}

.socialmedia-widget.size-medium[class*='style-'] li a:before,
.socialmedia-widget.size-medium[class*='style-'] li a:after {
	width: 60px;
	line-height: 60px;
}

.socialmedia-widget.size-big[class*='style-'] li a:before,
.socialmedia-widget.size-big[class*='style-'] li a:after {
	width: 80px;
	line-height: 80px;
}

.socialmedia-widget.size-huge[class*='style-'] li a:before,
.socialmedia-widget.size-huge[class*='style-'] li a:after {
	width: 100px;
	line-height: 100px;
}

.socialmedia-widget[class*='style-'] li {
	margin: 0 5px 0 0;
}

.align-center .socialmedia-widget[class*='style-'] li {
	margin: 0 3px;
}

.align-right .socialmedia-widget[class*='style-'] li {
	margin: 0 0 0 5px;
}

.socialmedia-widget li a {
	position: relative;
	overflow: hidden;
}

.socialmedia-widget[class*='style-'] li a:after,
.socialmedia-widget[class*='style-'] li a:before {
	border: 1px solid rgba(0, 0, 0, .15);
}

.text-light .socialmedia-widget[class*='style-'] li a:after,
.text-light .socialmedia-widget[class*='style-'] li a:before {
	border: 1px solid rgba(255, 255, 255, .22);
}

.socialmedia-widget li a:after {
	position: absolute;
	top: 0;
	left: 0;
}

.socialmedia-widget li a:before,
.socialmedia-widget li a:after {
	display: block;
}

.socialmedia-widget[class*='style-rounded'] li a:after,
.socialmedia-widget[class*='style-rounded'] li a:before {
	border-radius: 3px;
}

.socialmedia-widget[class*='style-circled'] li a:after,
.socialmedia-widget[class*='style-circled'] li a:before {
	border-radius: 100px;
}

.socialmedia-widget.hover-slide-1[class*='style-rounded'] li a {
	border-radius: 3px;
}

.socialmedia-widget.hover-slide-1[class*='style-circled'] li a {
	border-radius: 100px;
}


/* hover general */

.socialmedia-widget li a,
.socialmedia-widget li a:before,
.socialmedia-widget li a:after {
	transition: all .25s ease;
}

.socialmedia-widget[class*='hover-slide'] li a:hover:before {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}

.socialmedia-widget[class*='hover-slide'] li a:after {
	visibility: visible;
	top: 100%;
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

.socialmedia-widget[class*='hover-slide'] li a:hover:after {
	top: 0;
}


/* hover 1 */

.socialmedia-widget.hover-slide-1[class*='style-'] li a {
	border: 1px solid rgba(0, 0, 0, .15);
}

.text-light .socialmedia-widget.hover-slide-1[class*='style-'] li a {
	border: 1px solid rgba(255, 255, 255, .22);
}

.socialmedia-widget.hover-slide-1[class*='style-'] li a:after,
.socialmedia-widget.hover-slide-1[class*='style-'] li a:before {
	border: none;
}

.socialmedia-widget.hover-fade-1 li.facebook a:hover,
.socialmedia-widget.hover-slide-1 li.facebook a:after {
	color: #446ebf;
}

.socialmedia-widget.hover-fade-1 li.twitter a:hover,
.socialmedia-widget.hover-slide-1 li.twitter a:after {
	color: #39aadc;
}

.socialmedia-widget.hover-fade-1 li.tumblr a:hover,
.socialmedia-widget.hover-slide-1 li.tumblr a:after {
	color: #4c6781;
}

.socialmedia-widget.hover-fade-1 li.vimeo a:hover,
.socialmedia-widget.hover-slide-1 li.vimeo a:after {
	color: #15c9f5;
}

.socialmedia-widget.hover-fade-1 li.dribbble a:hover,
.socialmedia-widget.hover-slide-1 li.dribbble a:after {
	color: #f14980;
}

.socialmedia-widget.hover-fade-1 li.deviantart a:hover,
.socialmedia-widget.hover-slide-1 li.deviantart a:after {
	color: #2ea06f;
}

.socialmedia-widget.hover-fade-1 li.behance a:hover,
.socialmedia-widget.hover-slide-1 li.behance a:after {
	color: #00b0f0;
}

.socialmedia-widget.hover-fade-1 li.flickr a:hover,
.socialmedia-widget.hover-slide-1 li.flickr a:after {
	color: #f04783;
}

.socialmedia-widget.hover-fade-1 li.linkedin a:hover,
.socialmedia-widget.hover-slide-1 li.linkedin a:after {
	color: #81d3fd;
}

.socialmedia-widget.hover-fade-1 li.rss a:hover,
.socialmedia-widget.hover-slide-1 li.rss a:after {
	color: #ff8322;
}

.socialmedia-widget.hover-fade-1 li.googleplus a:hover,
.socialmedia-widget.hover-slide-1 li.googleplus a:after {
	color: #d63d1e;
}

.socialmedia-widget.hover-fade-1 li.pinterest a:hover,
.socialmedia-widget.hover-slide-1 li.pinterest a:after {
	color: #c81e1e;
}

.socialmedia-widget.hover-fade-1 li.youtube a:hover,
.socialmedia-widget.hover-slide-1 li.youtube a:after {
	color: #ee423d;
}

.socialmedia-widget.hover-fade-1 li.mail a:hover,
.socialmedia-widget.hover-slide-1 li.mail a:after {
	color: #74624d;
}

.socialmedia-widget.hover-fade-1 li.instagram a:hover,
.socialmedia-widget.hover-slide-1 li.instagram a:after {
	color: #95604b;
}

.socialmedia-widget.hover-fade-1 li.xing a:hover,
.socialmedia-widget.hover-slide-1 li.xing a:after {
	color: #036567;
}

.socialmedia-widget.hover-fade-1 li.dropbox a:hover,
.socialmedia-widget.hover-slide-1 li.dropbox a:after {
	color: #008cd2;
}

.socialmedia-widget.hover-fade-1 li.stumbleupon a:hover,
.socialmedia-widget.hover-slide-1 li.stumbleupon a:after {
	color: #f94213;
}

.socialmedia-widget.hover-fade-1 li.delicious a:hover,
.socialmedia-widget.hover-slide-1 li.delicious a:after {
	color: #1b59c3;
}

.socialmedia-widget.hover-fade-1 li.wordpress a:hover,
.socialmedia-widget.hover-slide-1 li.wordpress a:after {
	color: #118bc0;
}

.socialmedia-widget.hover-fade-1 li.vk a:hover,
.socialmedia-widget.hover-slide-1 li.vk a:after {
	color: #29577b;
}

.socialmedia-widget.hover-fade-1 li.soundcloud a:hover,
.socialmedia-widget.hover-slide-1 li.soundcloud a:after {
	color: #f70;
}

.socialmedia-widget.hover-fade-1 li.spotify a:hover,
.socialmedia-widget.hover-slide-1 li.spotify a:after {
	color: #80b900;
}

.socialmedia-widget.hover-fade-1 li.codepen a:hover,
.socialmedia-widget.hover-slide-1 li.codepen a:after {
	color: #171515;
}

.socialmedia-widget.hover-fade-1 li.github a:hover,
.socialmedia-widget.hover-slide-1 li.github a:after {
	color: #171515;
}

.socialmedia-widget.hover-fade-1 li.lastfm a:hover,
.socialmedia-widget.hover-slide-1 li.lastfm a:after {
	color: #f94f14;
}

.socialmedia-widget.hover-fade-1 li.jsfiddle a:hover,
.socialmedia-widget.hover-slide-1 li.jsfiddle a:after {
	color: #0c9de8;
}

.socialmedia-widget.hover-fade-1 li.mixcloud a:hover,
.socialmedia-widget.hover-slide-1 li.mixcloud a:after {
	color: #29587c;
}

.socialmedia-widget.hover-fade-1 li.skype a:hover,
.socialmedia-widget.hover-slide-1 li.skype a:after {
	color: #00aef3;
}


/* hover 2 */

.socialmedia-widget.hover-fade-2 li a:hover:before,
.socialmedia-widget.hover-slide-2 li a:after {
	background: #1a1a1a;
	border-color: #1a1a1a;
	color: #fff;
}

.text-light .socialmedia-widget.hover-fade-2 li a:hover:before,
.text-light .socialmedia-widget.hover-slide-2 li a:after {
	background: #fff;
	border-color: #fff;
	color: #1a1a1a;
}


/* hover 3 */

.socialmedia-widget.hover-fade-3 li.facebook a:hover:before {
	background: #446ebf;
	border-color: #446ebf;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.twitter a:hover:before {
	background: #39aadc;
	border-color: #39aadc;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.tumblr a:hover:before {
	background: #4c6781;
	border-color: #4c6781;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.vimeo a:hover:before {
	background: #15c9f5;
	border-color: #15c9f5;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.dribbble a:hover:before {
	background: #f14980;
	border-color: #f14980;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.deviantart a:hover:before {
	background: #2ea06f;
	border-color: #2ea06f;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.behance a:hover:before {
	background: #00b0f0;
	border-color: #00b0f0;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.flickr a:hover:before {
	background: #f04783;
	border-color: #f04783;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.linkedin a:hover:before {
	background: #81d3fd;
	border-color: #81d3fd;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.rss a:hover:before {
	background: #ff8322;
	border-color: #ff8322;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.googleplus a:hover:before {
	background: #d63d1e;
	border-color: #d63d1e;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.pinterest a:hover:before {
	background: #c81e1e;
	border-color: #c81e1e;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.youtube a:hover:before {
	background: #ee423d;
	border-color: #ee423d;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.mail a:hover:before {
	background: #74624d;
	border-color: #74624d;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.instagram a:hover:before {
	background: #95604b;
	border-color: #95604b;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.xing a:hover:before {
	background: #036567;
	border-color: #036567;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.dropbox a:hover:before {
	background: #008cd2;
	border-color: #008cd2;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.stumbleupon a:hover:before {
	background: #f94213;
	border-color: #f94213;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.delicious a:hover:before {
	background: #1b59c3;
	border-color: #1b59c3;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.wordpress a:hover:before {
	background: #118bc0;
	border-color: #118bc0;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.vk a:hover:before {
	background: #29577b;
	border-color: #29577b;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.soundcloud a:hover:before {
	background: #f70;
	border-color: #f70;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.spotify a:hover:before {
	background: #80b900;
	border-color: #80b900;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.codepen a:hover:before {
	background: #171515;
	border-color: #171515;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.github a:hover:before {
	background: #171515;
	border-color: #171515;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.lastfm a:hover:before {
	background: #f94f14;
	border-color: #f94f14;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.jsfiddle a:hover:before {
	background: #0c9de8;
	border-color: #0c9de8;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.mixcloud a:hover:before {
	background: #29587c;
	border-color: #29587c;
	color: #fff;
}

.socialmedia-widget.hover-fade-3 li.skype a:hover:before {
	background: #00aef3;
	border-color: #00aef3;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.facebook a:after {
	background: #446ebf;
	border-color: #446ebf;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.twitter a:after {
	background: #39aadc;
	border-color: #39aadc;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.tumblr a:after {
	background: #4c6781;
	border-color: #4c6781;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.vimeo a:after {
	background: #15c9f5;
	border-color: #15c9f5;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.dribbble a:after {
	background: #f14980;
	border-color: #f14980;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.deviantart a:after {
	background: #2ea06f;
	border-color: #2ea06f;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.behance a:after {
	background: #00b0f0;
	border-color: #00b0f0;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.flickr a:after {
	background: #f04783;
	border-color: #f04783;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.linkedin a:after {
	background: #81d3fd;
	border-color: #81d3fd;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.rss a:after {
	background: #ff8322;
	border-color: #ff8322;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.googleplus a:after {
	background: #d63d1e;
	border-color: #d63d1e;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.pinterest a:after {
	background: #c81e1e;
	border-color: #c81e1e;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.youtube a:after {
	background: #ee423d;
	border-color: #ee423d;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.mail a:after {
	background: #74624d;
	border-color: #74624d;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.instagram a:after {
	background: #95604b;
	border-color: #95604b;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.xing a:after {
	background: #036567;
	border-color: #036567;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.dropbox a:after {
	background: #008cd2;
	border-color: #008cd2;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.stumbleupon a:after {
	background: #f94213;
	border-color: #f94213;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.delicious a:after {
	background: #1b59c3;
	border-color: #1b59c3;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.wordpress a:after {
	background: #118bc0;
	border-color: #118bc0;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.vk a:after {
	background: #29577b;
	border-color: #29577b;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.soundcloud a:after {
	background: #f70;
	border-color: #f70;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.spotify a:after {
	background: #80b900;
	border-color: #80b900;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.codepen a:after {
	background: #171515;
	border-color: #171515;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.github a:after {
	background: #171515;
	border-color: #171515;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.lastfm a:after {
	background: #f94f14;
	border-color: #f94f14;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.jsfiddle a:after {
	background: #0c9de8;
	border-color: #0c9de8;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.mixcloud a:after {
	background: #29587c;
	border-color: #29587c;
	color: #fff;
}

.socialmedia-widget.hover-slide-3 li.skype a:after {
	background: #00aef3;
	border-color: #00aef3;
	color: #fff;
}


/*	Recent Posts
 ------------------------------------------------*/

.widget_recent_entries li {
	margin-top: 15px;
}

.widget_recent_entries span {
	font-size: 12px;
	line-height: 15px;
	display: block;
	font-family: Lato;
	font-weight: 300;
	color: #9c9c9c;
}

.text-light .widget_recent_entries span {
	color: #8c8c8c;
}


/*	Newsletter
 ------------------------------------------------*/

#newsletter-email {
	width: 280px;
	max-width: calc(100%-100px);
}

#newsletter-submit {
	position: relative;
	left: -6px;
	padding-left: 0;
	padding-right: 0;
	width: 70px;
	margin: 0;
}


/*	Search Widget
 ------------------------------------------------*/

#searchform {
	margin-top: 20px;
}

div #searchform:first-child {
	margin: 0;
}

#searchform>div {
	display: inline-block;
	position: relative;
	width: 100%;
	max-width: 400px;
	margin: 0;
}

#searchform label {
	display: none;
}

#searchform input[type="submit"] {
	display: none;
}

#searchform input[type="text"] {
	max-width: calc(100%-47px);
	padding: 10px 35px 10px 10px;
}

#searchform>div:before {
	text-align: center;
	content: "\f2f5";
	font-family: Ionicons;
	font-size: 16px;
	line-height: 20px;
	height: 20px;
	width: 20px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 10px;
	color: #1a1a1a;
}


/*	Tag Cloud Widget
 ------------------------------------------------*/

.tagcloud {
	margin-top: 20px;
}

div .tagcloud:first-child {
	margin-top: 0;
}

.tagcloud>a {
	display: inline-block;
	border: 1px solid #e0e0e0;
	padding: 4px 6px;
	border-radius: 2px;
	margin: 0 1px 3px 0;
	font-weight: 400;
	font-size: 10px;
	line-height: 15px;
	text-transform: uppercase;
	color: #1a1a1a;
}

.text-light .tagcloud>a {
	border-color: #3d3d3d;
	color: #fff;
}

.tagcloud>a:hover {
	border-color: #33bfd0;
}


/*	Product List Widget
 ------------------------------------------------*/

.product-list li {
	overflow: hidden;
	margin: 0 0 10px;
	padding: 0 0 10px;
}

.product-list li .product-item-image {
	width: 50px;
	height: auto;
	float: left;
}

.product-list li .product-item-desc {
	width: calc(100%-65px);
	position: relative;
	float: right;
}

.product-list li .product-name {
	font-size: 12px;
	line-height: 17px;
}

.product-list li .product-item-price,
.product-list li .product-item-quantity {
	font-size: 11px;
	line-height: 17px;
	font-weight: 700;
	color: #9c9c9c;
}

.product-list li .star-rating {
	font-size: 12px;
	line-height: 16px;
}


/*	Instagram/Flickr/Dribbble Widget
 ------------------------------------------------*/

.instagram-widget>div,
.flickr-widget>div,
.dribbble-widget>div {
	width: 12.5%;
	display: inline-block;
}

.instagram-widget.instagram-spaced>div,
.flickr-widget.flickr-spaced>div,
.dribbble-widget.dribbble-spaced>div {
	width: calc(12.5%-20px);
	margin: 10px;
}

.instagram-widget>div img,
.flickr-widget>div img,
.dribbble-widget>div img {
	width: 100%;
}

.column .instagram-widget>div,
aside .instagram-widget>div,
.column .flickr-widget>div,
aside .flickr-widget>div {
	width: 25%;
}

.column .instagram-widget.instagram-spaced>div,
aside .instagram-widget.instagram-spaced>div,
.column .flickr-widget.flickr-spaced>div,
aside .flickr-widget.flickr-spaced>div {
	width: calc(25%-20px);
}

.dribbble-widget>div {
	width: 16.6%;
}

.dribbble-widget.dribbble-spaced>div {
	width: calc(16.6%-20px);
}

.column .dribbble-widget>div,
aside .dribbble-widget>div {
	width: 33.3%;
}

.column .dribbble-widget.dribbble-spaced>div,
aside .dribbble-widget.dribbble-spaced>div {
	width: calc(33.3%-20px);
}