<!DOCTYPE html>
<html class="no-js" lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Lora:400italic,700italic" rel="stylesheet" type="text/css">
		<link rel="stylesheet" id="default-style-css" href="/docs/examples/files/css/style.css" type="text/css" media="all"/>
		<link rel="stylesheet" id="fontawesome-style-css" href="/docs/examples/files/css/font-awesome.min.css" type="text/css" media="all"/>
		{% if page.libraries contains 'revolution' %}
			<link rel="stylesheet" id="ionic-icons-style-css" href="/docs/examples/files/css/ionicons.css" type="text/css" media="all"/>
			<link rel="stylesheet" id="revolution-slider-main-css" href="/docs/examples/files/revolution/css/settings.css" type="text/css" media="all" />
		    <link rel="stylesheet" id="revolution-slider-layer-css" href="/docs/examples/files/revolution/css/layers.css" type="text/css" media="all" />
			<link rel="stylesheet" id="revolution-slider-nav-css" href="/docs/examples/files/revolution/css/navigation.css" type="text/css" media="all" />
		{% endif %}
		{% if page.libraries contains 'isotope' %}
			<link rel="stylesheet" id="isotope-style-css" href="/docs/examples/files/css/isotope.css" type="text/css" media="all"/>
		{% endif %}
		{% if page.libraries contains 'owlcarousel' %}
			<link rel="stylesheet" id="owlcarousel-css" href="/docs/examples/files/css/owl.carousel.css" type="text/css" media="all"/>
		{% endif %}
		{% if page.libraries contains 'lightcase' %}
			<link rel="stylesheet" id="lightcase-css" href="/docs/examples/files/css/lightcase.css" type="text/css" media="all" />
		{% endif %}
		<link rel="stylesheet" id="mqueries-style-css" href="/docs/examples/files/css/mqueries.css" type="text/css" media="all"/>
		<link rel="shortcut icon" href="../{{ site.filePath }}/favicon.png"/>
		<title>{{ page.title }} // Monogram UI</title>
	</head>
	<body>
		{% if page.loader != false %}
		<!-- PAGELOADER -->
		<div id="page-loader">
			<div class="page-loader-inner">
				<span class="loader-figure"></span>
				<h6 class="loader-label">Loading</h6>
				<img class="loader-logo" src="{{ site.filePath }}/logo-sudo-scroll.png" srcset="{{ site.filePath }}/logo-sudo-scroll.png 1x, {{ site.filePath }}/logo-sudo-scroll@2x.png 2x" alt="Loader Logo">
			</div>
		</div>
		{% endif %}
		<div id="page-content">
			{% include header.html classes=page.headerClasses %}
			{{ content }}
		</div>
		{% include footer.html %}
		<script src="/docs/examples/files/js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/docs/examples/files/js/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="/docs/examples/files/js/jquery.visible.min.js"></script>
		<script type="text/javascript" src="/docs/examples/files/js/tweenMax.js"></script>
		<script type="text/javascript" src="/docs/examples/files/js/jquery.backgroundparallax.min.js"></script>
		{% if page.libraries contains 'revolution' %}
			<script type="text/javascript" src="files/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
			<script type="text/javascript" src="files/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
			<script type="text/javascript" src="files/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
			<script type="text/javascript" src="files/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
			<script type="text/javascript" src="files/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
			<script type="text/javascript" src="files/revolution/js/extensions/revolution.extension.video.min.js"></script>
			<script type="text/javascript" src="files/revolution/js/extensions/revolution.extension.actions.min.js"></script>
		{% endif %}
		{% if page.libraries contains 'isotope' %}
			<script type="text/javascript" src="/docs/examples/files/js/jquery.isotope.min.js"></script>
		{% endif %}
		<script type="text/javascript" src="/docs/examples/files/js/jquery.imagesloaded.min.js"></script>
		{% if page.libraries contains 'owlcarousel' %}
			<script type="text/javascript" src="/docs/examples/files/js/jquery.owl.carousel.js"></script>
		{% endif %}
		{% if page.libraries contains 'lightcase' %}
			<script type="text/javascript" src="/docs/examples/files/js/jquery.lightcase.min.js"></script>
		{% endif %}
		{% if page.libraries contains 'fitvids' %}
			<script type="text/javascript" src="/docs/examples/files/js/jquery.fitvids.min.js"></script>
		{% endif %}
		{% if page.libraries contains 'imagesloaded' %}
			<script type="text/javascript" src="/docs/examples/files/js/jquery.imagesloaded.min.js"></script>
		{% endif %}
		<script type="text/javascript" src="/docs/examples/files/js/script.js"></script>
	</body>
</html>