<!-- Title, description, encoding, viewport, and other info -->
{% include head/meta.html %}

<!-- Fonts only -->
{% include head/fonts.html %}

<!-- Stylesheets only -->
{% include head/styles.html %}

<!-- Icons, Open Graph, and other meta information -->
{% include head/structured-data.html %}

<!-- Google Analytics (if configured) -->
{% if site.google-analytics != false %}
	{% include analytics.html %}
{% endif %}

<!--
	Looking for scripts? they're probably at the bottom of the document.
	Look for the scripts.html include.
-->