<link rel="stylesheet" href="/assets/styles/{{ site.shortname }}.css" type="text/css"/>
<link rel="stylesheet" href="/docs/examples/files/css/font-awesome.min.css" type="text/css"/>
<link rel="stylesheet" href="/docs/examples/files/css/ionicons.css" type="text/css"/>
<!-- custom styles -->
{% if page.libraries contains 'web-app' %}
	<link rel="stylesheet" href="../custom/custom-webapp.css" type="text/css" media="all" />
{% endif %}
{% if page.libraries contains 'custom-shop' %}
	<link rel="stylesheet" href="../custom/custom-shop.css" type="text/css" media="all" />
{% endif %}
{% if page.libraries contains 'custom-restaurant' %}
	<link rel="stylesheet" href="../custom/custom-restaurant.css" type="text/css" media="all" />
{% endif %}
{% if page.libraries contains 'custom-agency' %}
	<link rel="stylesheet" href="../custom/custom-agencybusiness.css" type="text/css" media="all" />
{% endif %}
{% if page.libraries contains 'custom-medical' %}
	<link rel="stylesheet" href="../custom/custom-medical.css" type="text/css" media="all" />
{% endif %}
{% if page.libraries contains 'custom-music' %}
	<link rel="stylesheet" href="../custom/custom-music.css" type="text/css" media="all" />
{% endif %}
<!-- libraries -->
{% if page.libraries contains 'revolution' %}
	<link rel="stylesheet" href="/docs/examples/files/revolution/css/settings.css" type="text/css"/>
	<link rel="stylesheet" href="/docs/examples/files/revolution/css/layers.css" type="text/css"/>
	<link rel="stylesheet" href="/docs/examples/files/revolution/css/navigation.css" type="text/css"/>
{% endif %}
{% if page.libraries contains 'owlcarousel' %}
	<link rel="stylesheet" href="/docs/examples/files/css/owl.carousel.css" type="text/css"/>
{% endif %}
{% if page.libraries contains 'lightcase' %}
	<link rel="stylesheet" href="/docs/examples/files/css/lightcase.css" type="text/css"/>
{% endif %}
{% if page.libraries contains 'mediaelementplayer' %}
	<link rel="stylesheet" href="/docs/examples/files/css/mediaelementplayer.css" type="text/css" />
{% endif %}